/* Overlay */
.custom_crop-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10000;
  height:500px !important;
  width:378px !important; 
  margin-left:-189px;
  left:50%;
  top:50%;
  margin-top:-250px;
  border:solid 1px #929292;
}
.custom_crop-overlay-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10001;
  opacity: 0.90; /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=90); /* IE lt 8 */
  -ms-filter: "alpha(opacity=90)"; /* IE 8 */
  -khtml-opacity: 0.90; /* Safari 1.x */
  -moz-opacity: 0.90; /* FF lt 1.5, Netscape */
  background-color: #000000;
}
/* Croptool: image */
.custom_crop-overlay .custom_crop-image-holder {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10002;
  background: rgb(244,244,244); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(208,210,208,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244,244,244,1)), color-stop(100%, rgba(208,210,208,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(208,210,208,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(208,210,208,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(208,210,208,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(244,244,244,1) 0%, rgba(208,210,208,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d0d2d0', GradientType=0 ); /* IE6-8 */
}
.custom_crop-inline .custom_crop-image-holder {
  position: relative;
}
.custom_crop-image {
  max-width: none;
  max-height: none;
  cursor: crosshair;
}
.custom_crop-overlay .custom_crop-image {
  margin: 15px 0 0 0;
}
.custom_crop-inline .custom_crop-image {
  margin: 1em 0em 1em 0em;
}
/* Croptool instant preview */
.custom_crop-instantpreview {
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}
.custom_crop-instantpreview img {
  max-width: none;
}
.custom_crop-overlay .custom_crop-instantpreview {
  width: 150px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10002;
}
.custom_crop-inline .custom_crop-instantpreview {
  margin-right: 1em;
  width: 30%;
  float: left;
}
/* Croptool: selection details */
.custom_crop-details {
  font-weight: bold;
}
.custom_crop-overlay .custom_crop-details {
  position: absolute;
  left: 1.3em;
  bottom: 4.5em;
  z-index: 10003;
  color: #000000;
}
.custom_crop-inline .custom_crop-details {
  margin-right: 1em;
  padding-bottom: 1em;
  width: 33%;
  float: left;
}
.custom_crop-details-value {
  font-style: italic;
  font-weight: normal;
}
/* Croptool: buttons */
.custom_crop-overlay .custom_crop-buttons {
  position: absolute;
  bottom: 1em;
  right: 0em;
  z-index: 10004;
}
.custom_crop-inline .custom_crop-buttons {
  padding-bottom: 1em;
  width: 33%;
  float: left;
  font-weight: bold;
}
.custom_crop-overlay .custom_crop-button, .custom_crop-overlay .custom_crop-button:hover, .custom_crop-overlay .custom_crop-button:focus {
  margin-right: 0.8em;
  padding: 0.1em 0.3em 0.1em 0.3em;
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  float: right;
  background-color: #000000;
  border: 1px solid #545454;
}
.custom_crop-overlay .custom_crop-button:hover {
  color: #000000;
  background-color: #FFFFFF;
}
.custom_crop-buttons .custom_crop-button.custom_crop-clear, .custom_crop-buttons .custom_crop-button.custom_crop-reset {
  display: none;
}
.custom_crop-inline .custom_crop-button.form-submit {
  margin-bottom: 0.5em;
}
/* Style selection list/button */
.custom_crop-style-button-holder {
  padding-top: 1em;
}
.custom_crop-style-required {
  color: #FF0000;
}
.custom_crop-style-cropped {
  color: #96CB00;
}
/* Crop preview */
.custom_crop-preview-cropped {
  display: block;
  overflow: hidden;
}
.custom_crop-preview .custom_crop-preview-cropped img {
  margin: 0px;
  max-width: none;
  display: block;
}
/* Thumbnail list */
.custom_crop-thumblist {
  margin-top: 0.5em;
  padding-bottom: 0.2em;
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
}
.custom_crop-style-thumb, .custom_crop-style-thumb:hover, .custom_crop-style-thumb:focus {
  margin-right: 1.5em;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
}
.custom_crop-style-thumb strong {
  margin-bottom: 0.2em;
  width: 100px;
  display: block;
}
.custom_crop-style-thumb .custom_crop-preview img {
  margin: 0px;
  max-width: 100px;
  max-height: 100px;
}
.custom_crop-style-thumb .custom_crop-preview-cropped img {
  max-width: none;
  max-height: none;
}

.imgareaselect-selection{
-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.75);
-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.75);
box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.75); border-radius: 50%;}

.custom_crop-overlay .custom_crop-buttons a.custom_crop-close {
	background-image:-webkit-linear-gradient(top, #428bca 0, #2d6ca2 100%);
	background-image:-o-linear-gradient(top, #428bca 0, #2d6ca2 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#428bca), to(#2d6ca2));
	background-image:linear-gradient(to bottom, #428bca 0, #2d6ca2 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
 filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat:repeat-x;
	border:solid 1px #2b669a;
	color:#FFFFFF;
	padding:5px 10px;
	border-radius:6px;
	cursor:pointer;
	display:inline-block;
	background-color:transparent;
	font-size:14px;
	margin-right:5px;
}
.custom_crop-overlay .custom_crop-buttons a.custom_crop-close:hover {
	background-color: #2d6ca2;
	background-position: 0 -15px;
	border:1px solid #2b669a;
}

.custom_crop-overlay .custom_crop-buttons a.custom_crop-reset {
	border:1px solid #bbbbbb;
	background-repeat:repeat-x;
	background-image:-webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
	background-image:-o-linear-gradient(top, #fff 0, #e0e0e0 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
	background-image:linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
 filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color:#000000;
	padding:6px 10px;
	border-radius:6px;
	background-color: transparent;
}
.custom_crop-overlay .custom_crop-buttons a.custom_crop-reset:hover {
	background-color: #f0f0f0;
	background-position: 0 35px;
}
.custom_crop-overlay .custom_crop-instantpreview{display:none;}