
/* ---------- General Layout ---------- */

body,
input,
textarea,
select {
  color: #000;
  background: none;
}
body.two-sidebars,
body.sidebar-first,
body.sidebar-second,
body {
  width: 640px;
}
#sidebar-first,
#sidebar-second,
.navigation,
#toolbar,
#footer-wrapper,
.tabs,
.add-or-remove-shortcuts {
  display: none;
}
.one-sidebar #content,
.two-sidebars #content {
  width: 100%;
}
#triptych-wrapper {
  width: 960px;
  margin: 0;
  padding: 0;
  border: none;
}
#triptych-first, #triptych-middle, #triptych-last {
  width: 250px;
}

/* ---------- Node Pages ---------- */

#comments .title,
#comments form,
.comment_forbidden {
  display: none;
}

#invoice-first-part-sec, #invoice-second-part-sec{-ms-zoom:(120%); -webkit-transform:scale(120%); -moz-transform:scale(120%); -o-transform:120%;  zoom:120%; }
#header-wrap, .region-content-top, h1.title, body.node-type-benefits .main-content-wrap{display:none;}
.invoice-section-wrap .middle-sec-wrap .invoice-slip-wrap .addtional-txt-wrp .upgrade-sec-wrp  b.fnt-siz-small{font-size:12px;}
.invoice-section-wrap .middle-sec-wrap .invoice-slip-wrap .addtional-txt-wrp .upgrade-sec-wrp .indicatewrp-sec-one,
.invoice-section-wrap .middle-sec-wrap .invoice-slip-wrap .addtional-txt-wrp .upgrade-sec-wrp .indicatewrp-sec-two,
.invoice-section-wrap .middle-sec-wrap .invoice-slip-wrap .addtional-txt-wrp .upgrade-sec-wrp .indicatewrp-sec-three,
.invoice-section-wrap .middle-sec-wrap .invoice-slip-wrap .addtional-txt-wrp .upgrade-sec-wrp .indicatewrp-sec-four{font-size:12px;}

#invoice-second-part-sec { page-break-before:always;}
#footer-wrap, #footer, .invoice-top-container{ display: none;}
