
/**
 * Generic elements.
 */
 
 @font-face {
	font-family: 'oswaldbold';
	src: url('fonts/oswald.bold-webfont.eot');
	src: url('fonts/oswald.bold-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/oswald.bold-webfont.woff') format('woff'),  url('fonts/oswald.bold-webfont.ttf') format('truetype'),  url('fonts/oswald.bold-webfont.svg#oswaldbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'oswaldregular';
	src: url('fonts/oswald.regular-webfont.eot');
	src: url('fonts/oswald.regular-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/oswald.regular-webfont.woff') format('woff'),  url('fonts/oswald.regular-webfont.ttf') format('truetype'),  url('fonts/oswald.regular-webfont.svg#oswaldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
  color: #000;
  background: #fff;
  font-family: 'oswaldregular', Arial, Helvetica, sans-serif;
}
a {
  color: #0074BD;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background:#cccccc;
}
/*legend {
  font-weight: bold;
}*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 10px 0;
}
h1 {
  font-size: 1.538em;
}
h2 {
  font-size: 1.385em;
}
h3 {
  font-size: 1.231em;
}
h4 {
  font-size: 1.154em;
}
h5,
h6 {
  font-size: 1.077em;
}
p {
  margin: 1em 0;
}
dl {
  margin: 0 0 20px;
}
dl dd,
dl dl {
  margin-left: 20px; /* LTR */
  margin-bottom: 10px;
}
blockquote {
  margin: 1em 40px;
}
address {
  font-style: italic;
}
u,
ins {
  text-decoration: underline;
}
s,
strike,
del {
  text-decoration: line-through;
}
big {
  font-size: larger;
}
small {
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
nobr {
  white-space: nowrap;
}
abbr,
acronym {
  border-bottom: dotted 1px;
}
ul,
.block ul,
.item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
.item-list .pager li {
  padding: 0.5em;
}
.pager .pager-current{ color:#e24912;}
.item-list .pager li a{color:#717171;}
.item-list ul li,
li.leaf,
ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}
ul.menu li {
  margin: 0;
}
ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em; /* LTR */
}
.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image:url(../../misc/menu-collapsed.png);
  list-style-type:disc;
}
.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image:url(../../misc/menu-expanded.png);
  list-style-type:circle;
}
quote,
code {
  margin: .5em 0;
}
code,
pre,
kbd {
  font-size: 1.231em;
}
pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

/**
 * Skip link.
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%; /* LTR */
  margin-left: -5.25em; /* LTR */
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  display: block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px; /* LTR */
  text-decoration: none;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}

/**
 * Branding.
 */
#branding {
  overflow: hidden;
  padding:6px 20px 0 20px; /* LTR */
  position: relative;
  background-color: #afafaf;
}
#toolbar {
    background: none repeat scroll 0 0 #AFAFAF;
  }
#branding div.breadcrumb {
  font-size: 0.846em;
  padding-bottom: 5px;
}
#branding div.block {
  position: relative;
  float: right; /* LTR */
  width: 240px;
  padding-left: 10px; /* LTR */
  background: #333;
}
#branding div.block form label {
  display: none;
}
#branding div.block form div.form-item {
  float: left; /* LTR */
  border: 0;
  margin: 0;
  padding: 0;
}
#branding div.block form input.form-text {
  width: 140px;
  margin-right: 10px; /* LTR */
}
#branding div.block form input.form-submit {
  text-align: center;
  width: 80px;
}

/**
 * Help.
 */
#help {
  font-size: 0.923em;
  margin-top: 1em;
}
#help p {
  margin: 0 0 10px;
}
#help div.more-help-link {
  text-align: right; /* LTR */
}

/**
 * Page title.
 */
#page-title {
  background: #333;
  padding-top: 20px;
}
#branding h1.page-title {
  color: #000;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.385em;
  font-weight: normal;
  float: left; /* LTR */
}

/**
 * Console.
 */
#console {
  margin: 9px 0 10px;
}

/**
 * Tabs.
 */
ul.primary {
  float: right; /* LTR */
  border-bottom: none;
  text-transform: uppercase;
  font-size: 0.923em;
  height: 2.60em;
  margin: 0;
  padding-top: 0;
}
ul.primary li {
  float: left; /* LTR */
  list-style: none;
  margin: 0 2px;
}
ul.primary li a:link,
ul.primary li a.active,
ul.primary li a:active,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a {
  display: block;
  float: left; /* LTR */
  height: 2.60em;
  line-height: 2.60em;
  padding: 0 18px 8px;
  color: #000;
 /* font-weight: bold;*/
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #a6a7a2;
}
ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited {
  background-color: #fff;
  border-color: #c9cac4;
  color:#e24912;
}
ul.primary li a:hover {
  color: #e24912;
}
ul.primary li.active a:hover {
  color: #000;
}
.tabs-secondary {
  clear: both;
}
ul.secondary {
  float:left; /* LTR */
  font-size: 0.923em;
  padding: 0 3px 0px;
  line-height: 1.385em;
  overflow: hidden;
  background-color: #fff;
  margin-bottom:5px;

}
ul.secondary li {
  float: none; /* LTR */
}
ul.secondary li a {
   background-color:#e7e7e7;
  text-transform:uppercase;
  -moz-box-shadow:    inset 0 0 5px #fff;
   -webkit-box-shadow: inset 0 0 5px #fff;
   box-shadow:         inset 0 0 5px #fff;
    border:1px solid #c2c2c2;
 -moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
  color: #000;
  display: inline-block;
  /*font-weight:bold;*/
}
ul.secondary li a,
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  padding: 5px 10px;
  border: 1px solid #C2C2C2;
}
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  color:#E24912;
  border: 1px solid #C2C2C2;
}
#content {
  clear: left;
}

/**
 * Page layout.
 */
#page {
  padding: 20px 0 60px 0; /* LTR */
  margin-right: 40px; /* LTR */
  margin-left: 40px; /* LTR */
  background: #fff;
  position: relative;
  color: #333;
}
#secondary-links ul.links li {
  padding: 0 10px 10px 0; /* LTR */
}
#secondary-links ul.links li a {
  font-size: 0.923em;
  background: #777;
  color: #fff;
  text-align: center;
  padding: 5px;
  height: 55px;
  width: 80px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#secondary-links ul.links li a:hover {
  background: #999;
}
ul.links li,
ul.inline li {
  padding-right: 1em; /* LTR */
}
ul.inline li {
  display: inline;
}
#secondary-links ul.links li.active-trail a,
#secondary-links ul.links li a.active {
  background: #333;
}
ul.admin-list li {
	position: relative;
  padding-left: 30px; /* LTR */
  padding-top: 9px;
  border-top: 1px solid #ccc;
  margin-left: 0; /* LTR */
  margin-bottom: 10px;
  background: url(images/list-item.png) no-repeat 0 11px; /* LTR */
  list-style-type: none;
  list-style-image: none;
  }
.admin-panel .item-list ul,
ul.admin-list {
  margin: 0;
  padding: 0;
}
.admin-panel .item-list ul,
ul.admin-list.compact {
  margin: 8px 0;
}
.admin-panel .item-list li,
ul.admin-list.compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  line-height: 1;
  padding: 0;
}
ul.admin-list li:last-child {
  border-bottom: none;
}
ul.admin-list li a {
  margin-left: -30px; /* LTR */
  padding: 0 0 4px 30px; /* LTR */
  min-height: 0;
}
ul.admin-list.compact li a {
  margin-left: 0; /* LTR */
  padding: 0;
}
ul.admin-list li div.description a {
  margin-left: 0; /* LTR */
  padding: 0;
  min-height: inherit;
}
div.submitted {
  color: #898989;
}

/**
 * Tables.
 */
table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9;
}
table td,
table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
  color: #000;
}
tr.even,
tr.odd {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #bebfb9;
   background: #fff;
 
}
tr.odd {
 background: #f9f9f9;
}
tr.drag {
  background: #fe7;
}
tr.drag-previous {
  background: #ffb;
}
table th {
  background: #e1e2dc;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #bebfb9;
  padding: 3px 10px;
}
table th.active {
  background: #bdbeb9;
}
table th a {
  display: block;
  position: relative;
}
table th.active a {
  padding: 0 25px 0 0; /* LTR */
}
table th.active img {
  position: absolute;
  top: 3px;
  right: 3px; /* LTR */
}
table td.active {
  background: #e9e9dd;
}
table tr.odd td.active {
  background: #f3f4ee;
}
table tr.selected td.active,
table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}
table.system-status-report tr {
  border-bottom: 1px solid #ccc;
}
table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}
table.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}
table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}
table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}

tr td:last-child {
  border-right: 1px solid #bebfb9; /* LTR */
}


fieldset {
  border: 1px solid #ccc;
  padding: 2.3em 0 0 0; /* LTR */
  position: relative;
  margin: 1em 0;
}
fieldset .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px; /* LTR */
  position: absolute;
  text-transform: uppercase;
}
fieldset .fieldset-wrapper {
  padding: 0 13px 0px 15px; /* LTR */
}
fieldset.collapsed {
  background-color: transparent;
}
html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}
fieldset fieldset {
  background-color: #fff;
}
fieldset fieldset fieldset {
  background-color: #f8f8f8;
}

/**
 * Form elements.
 */
.form-item {
  padding: 9px 0;
  margin: 0 0 1em;
}
.filter-wrapper .form-item,
div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}
.form-type-checkbox {
  padding: 0;
}
.text-format-wrapper .form-item {
  padding-bottom: 0;
}
.form-item label {
  margin: 0;
  padding: 0;
  font-weight:normal;
}
.form-item label.option {
  font-size: 0.85em;
  text-transform: none;
}
.form-item label.option input {
  vertical-align: middle;
}
.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

/* Filter */
.filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
}
.filter-wrapper .fieldset-wrapper {
  padding: 0 6px;
}
.filter-wrapper .form-item,
.filter-wrapper .filter-guidelines,
.filter-wrapper .filter-help {
  font-size: 0.923em;
  padding: 2px 0 0 0; /* LTR */
}
ul.tips,
div.description,
.form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 1em;
 color:#6e6f6f;
 font-size:.75em;
 font-family:Arial, Helvetica, sans-serif;
}
ul.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 1.5em; /* LTR */
  font-family:Arial, Helvetica, sans-serif;
}
input.form-submit,
a.button, #node-delete-confirm #edit-actions #edit-cancel{
	font-size:15px;
    color:#000;
	border:1px solid #c2c2c2;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
    cursor: pointer;
	display:inline-block; padding:3px 10px 2px;
	margin-right:2px;
	font-family: 'oswaldregular', Arial, Helvetica, sans-serif; 
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:active,
#node-delete-confirm #edit-actions #edit-cancel:hover,
#node-delete-confirm #edit-actions #edit-cancel:active,
#node-delete-confirm #edit-actions #edit-cancel:visited {
  text-decoration: none;
  color: #5a5a5a;
}
input.form-submit:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
  border-color:#999;
}
input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}
input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding:4px 2px 3px;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
  font-family:Arial, Helvetica, sans-serif;
}
input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  color: #000;
  border-color: #ace;
}
html.js input.form-autocomplete {
  background-position: 100% 4px;
}
html.js input.throbbing {
  background-position: 100% -16px;
}
#node-delete-confirm #edit-actions a#edit-cancel { color:#000 !important; padding-bottom:2px; padding-top:3px;}
ul.action-links {
  list-style-type: none;
  overflow: hidden;
 display:inline-block;
 margin-left:0;
  
}
ul.action-links li {
  float: left; /* LTR */
  margin: 0 1em 0 0; /* LTR */
}
ul.action-links a {
  padding:6px 10px 5px 24px; /* LTR */
  background:#e7e7e7 url(images/admin-add.png) no-repeat 9px center;
  -moz-box-shadow:    inset 0 0 5px #fff;
   -webkit-box-shadow: inset 0 0 5px #fff;
   box-shadow:         inset 0 0 5px #fff;
    border:1px solid #c2c2c2;
 -moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
 text-transform:uppercase;
 font-size:12px;
 display:inline-block;
}
ul.action-links a:hover { text-decoration:none;color:#E24912;}
/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}

/**
 * System.
 */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel,
div.admin-panel .body {
  padding: 0;
  clear: left;
}
div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}
div.admin-panel h3 {
  font-size: 0.923em;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 9px;
}

/* admin/appearance */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}
.theme-selector h3 {
  font-weight: normal;
}
.theme-default h3 {
  font-weight: normal;
}
.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}

/* Update options. */
div.admin-options {
  background: #f8f8f8;
  line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
}
div.admin-options label {
  text-transform: uppercase;
  font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif;
}
div.admin-options label,
div.admin-options div.form-item {
  margin-right: 10px; /* LTR */
  float: left; /* LTR */
}
div.admin-options div.form-item {
  padding: 0;
  border: 0;
}

/* Update status */
.versions table.version {
  border: none;
}

/* Maintenance theming */
body.in-maintenance #sidebar-first {
  float: left; /* LTR */
  width: 200px;
}
body.in-maintenance #content {
  float: right; /* LTR */
  width: 550px;
  padding-right: 20px; /* LTR */
  clear: none;
}
body.in-maintenance #page {
  overflow: auto;
  width: 770px;
  margin: 0 auto;
  padding-top: 2em;
}
body.in-maintenance #branding h1 {
  width: 770px;
  margin: 0 auto;
  float: none;
}
body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0;
}
body.in-maintenance div.form-item:after {
  content: "";
  display: none;
  clear: none;
}
body.in-maintenance .form-submit {
  display: block;
}
body.in-maintenance #logo {
  margin-bottom: 1.5em;
  max-width: 180px;
}
ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #adadad;
}
ol.task-list li.active {
  background: transparent url(images/task-item.png) no-repeat 3px 50%; /* LTR */
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #000;
}
ol.task-list li.done {
  background: transparent url(images/task-check.png) no-repeat 0 50%;
  color: green;
}

/* Overlay theming */
.overlay #branding {
  background-color: #fff;
  padding-top: 15px;
}
.overlay #branding h1.page-title,
.overlay #left,
.overlay #footer {
  display: none;
}
.overlay #page {
  margin: 0;
  padding: 0 20px;
}
.overlay #branding div.breadcrumb {
  float: left; /* LTR */
  position: relative;
  z-index: 10;
}
#overlay-tabs {
  bottom: -1px;
  font-size: 1.54em;
  line-height: 1.54em;
  margin: 0;
}
#overlay-tabs li {
  margin: 0 -2px;
}
.overlay ul.secondary {
  background: transparent none;
  margin: -1.4em 0 0.3em 0; /* LTR */
  overflow: visible;
}
.overlay #content {
  padding: 0;
}
h1#overlay-title {
  font-weight: normal;
}

/* Shortcut theming */
div.add-or-remove-shortcuts {
  float: left; /* LTR */
  padding-top: 6px;
  padding-left: 6px; /* LTR */
}

/* Dashboard */
#dashboard .dashboard-region div.block h2 {
  background: #E0E0D8;
}
#dashboard div.block h2 {
  margin: 0;
  font-size: 1em;
  padding: 3px 10px;
}
#dashboard div.block div.content {
  padding: 10px 5px 5px 5px; /* LTR */
}
#dashboard div.block div.content ul.menu {
  margin-left: 20px; /* LTR */
}
#dashboard .dashboard-region .block {
  border: #ccc 1px solid;
}

/* Field UI */

#field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px;
}
#field-display-overview tr.field-formatter-settings-changed {
  background: #FFFFBB;
}
#field-display-overview tr.drag {
  background: #FFEE77;
}
#field-display-overview tr.field-formatter-settings-editing {
  background: #D5E9F2;
}
#field-display-overview .field-formatter-settings-edit-form .form-item {
  margin: 10px 0;
}
#field-display-overview .field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0;
}

/* Recent content block */
#dashboard div#block-node-recent div.content {
  padding: 0;
}
#block-node-recent table,
#block-node-recent tr {
  border: none;
}
#block-node-recent .more-link {
  padding: 0 5px 5px 0; /* LTR */
}

/* User login block */
#user-login-form .openid-links {
  margin-left: 0; /* LTR */
}
#user-login-form .openid-links .user-link {
  margin-left: 1.5em; /* LTR */
}

/* Disable overlay message */
#overlay-disable-message {
  background-color: #addafc;
}
#overlay-disable-message a,
#overlay-disable-message a:visited {
  color: #000;
}
#overlay-disable-message a:focus,
#overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}
.overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}
.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.view-admin-view table, .page-node-webform-results-table table {
  margin: 0 0 1.5em;
  width: 100%;
  border:1px solid #ddd;
  border-right:none;
  background:#fff;
}

.view-admin-view th, .page-node-webform-results-table th, .view-manage-tab-pages th {
  padding:8px 0px;
  text-indent:10px; 
  font-size:16px;
  background:#f9da9d;
}
.view-admin-view th, .page-node-webform-results-table th.active a img { margin-right:6px;}
.view-admin-view  tr, .page-node-webform-results-table tr{
  padding:5px 5px;
}

.view-admin-view td, .page-node-webform-results-table td{
  padding:5px 10px;
  border-top:1px solid #ddd;
  border-right:1px solid #ddd;
  color:#11175e;
}
ul.admin-list li a, .view-admin-view .view-header a {
/*	font-weight:bold;*/
	color:#11175e;
}
.page-node-webform-results-table th a, .view-admin-view table th a {
    color:#000;
}

.view-admin-view td.views-field-edit-node, .view-admin-view td.views-field-delete-node {
  text-transform: capitalize;
}
.view-admin-view td.views-field-title a{
  color:#11175e;
}
.view-admin-view td.views-field-title img {
  border: 1px solid #ddd;
}
.page-admin-manage ul.admin-list li {
  background:#F7F7F7; /* akc */
   float:left;
  width:48%;
  margin-top:.5%;
  margin-left:.5%;
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:5px;
  margin-bottom:0%;
  min-height:90px;
  border:1px solid #eee;}
 .page-admin-manage ul.admin-list li a{  
  margin-left: -10px;
/*width: 86.5%;*/
padding-left:65px;
padding-top:0px;
display: inline-block;
font-size: 18px; line-height:29px;
font-weight: normal;
padding-bottom:0px;}
  .page-admin-manage ul.admin-list li.leaf a {background: url(images/ams-icon/work-card.png) 10px 5px no-repeat; }
 .page-admin-manage ul.admin-list li a:hover, .page-admin-manage ul.admin-list li a.active { color:#e24912; text-decoration:none;} 
body.page-admin-manage ul.admin-list li.leaf div.description{ margin-left:55px; margin-top: 0; margin-bottom: 0 /*margin-top:32px;*/}
.page-admin-manage ul.admin-list li.leaf a#admin-hero-image {background:url(images/ams-icon/hero-image.png) 10px 10px no-repeat; /* akc */}
.page-admin-manage ul.admin-list li.leaf a#admin-case-study {background:url(images/ams-icon/case-study.png) 10px 10px no-repeat; /* akc */}
.page-admin-manage ul.admin-list li.leaf a#admin-twitter-feed {background:url(images/ams-icon/twitter-feed.png) 10px 10px no-repeat; /* akc */}
.page-admin-manage ul.admin-list li.leaf a#admin-achievement {background:url(images/ams-icon/achievement.png) 10px 10px no-repeat; /* akc */}
.page-admin-manage ul.admin-list li.leaf a#admin-work-card {background:url(images/ams-icon/work-card.png) 10px 10px no-repeat; /* akc */}
.page-admin-manage ul.admin-list li.leaf a#admin-thumbnails {background:url(images/ams-icon/featured.png) 10px 10px no-repeat; /* akc */}
.page-admin-manage ul.admin-list li.leaf a#admin-photo-gallery {background:url(images/ams-icon/photo-gallery.png) 10px 10px no-repeat; /* akc */}
.page-admin-manage ul.admin-list li.leaf a#admin-leadership {background:url(images/ams-icon/leadership.png) 10px 10px no-repeat; /* akc */}
.page-admin-manage ul.admin-list li.leaf a#admin-openings {background:url(images/ams-icon/openings.png) 10px 10px no-repeat; /* akc */}
.page-admin-manage ul.admin-list li.leaf a#admin-submission {background:url(images/ams-icon/openings.png) 10px 10px no-repeat; /* akc */}
.page-admin-manage ul.admin-list li.leaf a#admin-inquiry {background:url(images/ams-icon/inquiries.png) 10px 10px no-repeat; /* akc */}
.page-admin-manage ul.admin-list li.leaf a#site-pages {background:url(images/ams-icon/content-admin.png) 10px 10px no-repeat; /* akc */}
#toolbar {box-shadow:none;}
#toolbar-home a span, #branding .add-or-remove-shortcuts, #branding .add-shortcut, #branding .logo { display:none; }
.page-admin-manage #toolbar div.toolbar-menu #toolbar-home .home a:hover { background:none;}
 #branding h1.page-title { padding-left:18px; color:#fff;}
 #branding h1.page-title em{font-style:normal;}
 div.toolbar-menu #toolbar-menu, #toolbar div.toolbar-drawer{ margin-left:20px;}
.item-list .pager li{border:1px solid #c2c2c2; padding:1px 5px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;}
.view-admin-view .views-field-edit-node, .view-admin-view .views-field-delete-node, .view-admin-view .views-field-publish-button, .view-admin-view .views-field-field-image, .view-admin-view .views-field-field-thumbnail,  .view-admin-view .views-field-view-node, .view-manage-tab-pages .views-field-edit-node{ text-align:center;}
.view-manage-promo-tiles td.views-field-field-image:first-child{text-align:left; width:47%;}
.view-manage-promo-tiles td.views-field-field-type:nth-child(2){width:15%;}
.view-admin-view .views-field-field-image img, .view-admin-view .views-field-field-thumbnail img { border:1px solid #ddd;}
.view-admin-view .views-field-edit-node a, .view-admin-view .views-field-view-node a, 
.view-manage-tab-pages .views-field-edit-node a{ padding:2px 10px; width:20px; background:url(images/admin-edit.png) center center no-repeat; text-indent:999px; display: inline-block; overflow:hidden;}	
.view-admin-view .views-field-delete-node a{ padding:2px 10px; width:20px; background:url(images/admin-delete.png) center center no-repeat; text-indent:999px; display: inline-block; overflow:hidden;}
.view-admin-view .view-header { clear:both; padding-right:5px;}
.view-admin-view .view-header p a {padding:6px 10px 6px 24px; font-size:12px !important; text-transform:capitalize;background:#e7e7e7 url(images/admin-add.png) no-repeat 9px center;
  -moz-box-shadow:    inset 0 0 5px #fff;
   -webkit-box-shadow: inset 0 0 5px #fff;
   box-shadow:         inset 0 0 5px #fff;
    border:1px solid #c2c2c2;
 -moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;}	
.view-admin-view .view-header p a:hover {text-decoration:none;color:#E24912;}
.tabledrag-toggle-weight-wrapper .tabledrag-toggle-weight {display:none;}
a.tabledrag-handle .handle {background: url(images/draggable.png) no-repeat 6px 10px;}
.view-admin-view td.views-field-publish-button a.Unpublished{ width:118px; height:24px; background:url(images/admin-unpublished.png) center center no-repeat; text-indent:999px; display: inline-block; overflow:hidden; }
.view-admin-view td.views-field-publish-button a.Published{ width:118px; height:24px; background:url(images/admin-published.png) center center no-repeat; text-indent:999px; display: inline-block; overflow:hidden;}
body.view-admin-view #footer, body.toolbar #footer {position:fixed; width:100%;bottom: 0;left: 0; background:#000;}
.admin-footer{ width:95%; padding:1.3em 0 1.3em 0; color:#fff; font-size:11px; text-align:right; margin:0 auto; position:relative;}
.admin-footer .logo{display: inline-block; float:left;}

.field-name-field-careers { float:left; width:48%;}
.field-name-field-location { float:left; width:52%; clear:right;}
#page .webform-results-per-page{clear: both;
    float: right;
    margin-top: -25px;
    text-align: right}
/*.field-widget-image-image .image-widget .image-preview { width:225px;}*/
#banner-node-form .field-widget-image-image .image-widget .image-preview {width: 500px;}

.field-widget-image-image .image-widget-data .file-size {display: none;}
#page #edit-field-twitter, #page #edit-field-linkedin,#page #custom-admin-general-settings #edit-twitta, #page #custom-admin-general-settings #edit-twittb, 
#banner-node-form #edit-field-image, #people-node-form #edit-field-picture, #people-node-form #edit-field-red-image,
#people-node-form #edit-field-bg-image, #people-node-form #edit-field-gray-thumbnail, #clients-node-form #edit-field-image, #page #clients-node-form #edit-field-link, #case-study-node-form #edit-field-page-image,
 #case-study-node-form #edit-field-image, #careers-node-form #edit-field-careers, #careers-node-form #edit-field-location, #page #people-node-form .form-item-title{ width:48%; margin-right:.5%; float:left; border:1px solid #ccc; padding:.5% .6%;}
#page #custom-admin-general-settings #edit-twitta { float:right;}
#page #clients-node-form #edit-field-main-category, #page #clients-node-form #edit-field-sub-category,
#clients-node-form .form-item-title{ width:31.4%; margin-right:.6%; float:left; border:1px solid #ccc; min-height:100px; padding:.5% .6%;}
#page #edit-field-work-type, #page #edit-field-related-work, #page #clients-node-form .vertical-tabs, #page #people-node-form #edit-body, #people-node-form .vertical-tabs {clear:both;}
#page #edit-field-video #edit-field-video-und-table tbody tr{height:88px;}
.page-node-132  ul.secondary li:first-child, .page-node-132  ul.secondary li:first-child + li, .page-node-41  ul.secondary li:first-child, .page-node-41  ul.secondary li:first-child + li {display: none;}
.page-node-132  table th:first-child +th +th, .page-node-132  table td:first-child +td +td, .page-node-41  table th:first-child +th +th, .page-node-41  table td:first-child +td +td { display: none;}
.page-node-edit ul.tabs.primary li:first-child {  display: none;}
.node-form #edit-body, .node-form #edit-actions{  clear: both;}
#people-node-form #edit-field-picture, #people-node-form #edit-field-red-image, #people-node-form #edit-field-bg-image, #people-node-form #edit-field-gray-thumbnail, 
#case-study-node-form #edit-field-page-image, #case-study-node-form #edit-field-image{ margin-top:1em; min-height:190px;}
#work-node-form #edit-field-picture, #work-node-form #edit-field-video, #work-node-form #edit-field-video-thumbnail, #careers-node-form #edit-field-careers, #careers-node-form #edit-field-location { margin-top:1em;}
#work-node-form #edit-field-thumbnail, #work-node-form #edit-field-full-title, #clients-node-form #edit-field-featured, #approaches-node-form #edit-field-image, #work-node-form #edit-field-picture, #careers-node-form #edit-field-apply-link {margin-top:1em; border: 1px solid #ccc; padding:1em;}
#page #edit-field-work-type, #page #edit-field-work-url, #banner-node-form #edit-field-url, #work-node-form #edit-field-video, #work-node-form #edit-field-video-thumbnail{ margin:10px 0; width:47.5%; margin-right:.5%; float:left; border:1px solid #ccc; padding:.7%; }
#banner-node-form #edit-field-url{margin:0px 0;width:48.5%;min-height:170px;float:right;}
#people-node-form .vertical-tabs, #page #clients-node-form .vertical-tabs, #banner-node-form .vertical-tabs, #case-study-node-form .vertical-tabs, #careers-node-form .vertical-tabs, #careers-node-form #edit-field-apply-link{ margin-top:1em; float:left; width:100%;}
#clients-node-form #edit-field-featured, #work-node-form #edit-field-video, #work-node-form #edit-field-video-thumbnail { margin-bottom:1em;}
#banner-node-form #edit-field-image #edit-field-image-und, #work-node-form #edit-field-video #edit-field-video-und, #work-node-form #edit-field-video-thumbnail #edit-field-video-thumbnail-und { margin:0; border:none; padding-top:2em;}
#banner-node-form #edit-field-image #edit-field-image-und .fieldset-wrapper, #work-node-form #edit-field-video #edit-field-video-und .fieldset-wrapper,  #work-node-form #edit-field-video-thumbnail #edit-field-video-thumbnail-und .fieldset-wrapper,
#banner-node-form #edit-field-image #edit-field-image-und legend .fieldset-legend, #work-node-form #edit-field-video #edit-field-video-und legend .fieldset-legend, #work-node-form #edit-field-video-thumbnail #edit-field-video-thumbnail-und legend .fieldset-legend { padding:0;}
#work-node-form #edit-field-video #edit-field-video-und legend .fieldset-legend{margin:0;}
#clients-node-form #edit-field-featured { width:97.9%; float:left; clear:both; margin-top:0;}
#page #clients-node-form .vertical-tabs { width:99.4%;}


/*************************************Added by ravi************************************************/
#banner-node-form tr.draggable td a.tabledrag-handle {
  display: none;
}

@-moz-document url-prefix() {  #node-delete-confirm #edit-actions a#edit-cancel { color:#000 !important; padding-bottom:3px; padding-top:4px;} 	}



.page-admin-manage .desk-board {float:left; width:100%; margin:1em 0;}
.page-admin-manage .desk-board h3.heading{ background-color:#e7e7e7;  -moz-box-shadow:    inset 0 0 5px #fff;   -webkit-box-shadow: inset 0 0 5px #fff;   box-shadow: inset 0 0 5px #fff; border:1px solid #c2c2c2;
	-moz-border-radius: 2px;-webkit-border-radius: 2px;	border-radius: 2px;  color: #000; font-size:15px;  /*font-weight:bold;*/}
.page-admin-manage .desk-board .dest-contenner{float:left; width:98%; border:1px solid #ccc; padding:1%;}
#block-block-4 .content p a{padding:3px 10px 3px 10px; font-size:12px; text-transform:capitalize;background:#e7e7e7;
  -moz-box-shadow:    inset 0 0 5px #fff;
   -webkit-box-shadow: inset 0 0 5px #fff;
   box-shadow:         inset 0 0 5px #fff;
    border:1px solid #c2c2c2;
 -moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px; display: inline-block; float: right; color: #11175E;
   /* font-weight: bold;*/position: absolute;
right: 0;
top: -2px;}
#work-node-form #edit-field-work-slider-image {
  clear: both;
  margin: 10px 0 0 0;
}
#work-node-form .field-name-field-work-video table tr td .field-type-file, #work-node-form .field-name-field-work-video table tr td .field-type-image {
  padding: 10px;
  border: 1px solid #eee;
  margin: 20px 0;
  display: block;
}
#work-node-form .field-name-field-work-video table tr.odd {
  border: 1px solid #ccc;
}
#toolbar div.toolbar-menu a.toggle{ display:none;}
.text-format-wrapper .form-textarea-wrapper .wysiwyg-toggle-wrapper, .text-format-wrapper .form-textarea-wrapper .counter {border-left:1px solid #ccc; border-right:1px solid #ccc;}
.text-format-wrapper .form-textarea-wrapper .wysiwyg-toggle-wrapper a{margin-left:9px;} .text-format-wrapper .form-textarea-wrapper .counter { text-indent:9px;}
/*div.image-widget-data { margin-top:35px;}*/
div.vertical-tabs ul li.first a{ border-top:1px solid #c2c2c2;}
#case-study-node-form #edit-field-image, #page #edit-field-work-url, #page #edit-field-linkedin, #people-node-form #edit-field-red-image, #people-node-form #edit-field-gray-thumbnail, #page #people-node-form #edit-field-designation{width:48.6%; margin-right:0%; float:right;}
#page #edit-field-work-url{width:48.9%;}
#banner-node-form #edit-field-image, #case-study-node-form #edit-field-page-image, #page #edit-field-work-type, #clients-node-form #edit-field-image, #clients-node-form .form-item-title, #page #edit-field-twitter, #page #edit-field-linkedin,
#people-node-form #edit-field-picture, #people-node-form #edit-field-red-image, #people-node-form #edit-field-bg-image, #page #people-node-form .form-item-title{ margin-right:0;}
#page #clients-node-form #edit-field-link{min-height:137px; float:right;width:48.1%;}
#page #people-node-form #edit-field-designation{border:1px solid #ccc; padding:.5% .7%;}
#page #people-node-form .form-item-title { min-height:96px;}
#page #people-node-form #edit-field-vision { clear:both}
#page #people-node-form #edit-field-tagline #edit-field-tagline-und-0-format { border:none;}
#page #people-node-form #edit-field-tagline {float:left; width:98.9%; border:1px solid #ccc; padding:0% .5% .4% .5%;}
#overlay-content { margin-bottom:25px;}

#overlay-content{padding-bottom:1.5em;}

/*admin styling for Events*/
.custom_modal-adjusted .node-buttons {margin-top:15px; min-height:50px;}
.custom_modal-adjusted .node-buttons a {padding:6px 10px 6px 24px; font-size:12px !important; text-transform:capitalize;background:#e7e7e7 url(images/admin-add.png) no-repeat 9px center;
  -moz-box-shadow:    inset 0 0 5px #fff;
   -webkit-box-shadow: inset 0 0 5px #fff;
   box-shadow:         inset 0 0 5px #fff;
    border:1px solid #c2c2c2;
 -moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px; color:#11175e; /*font-weight:bold;*/ text-decoration:none;}
.custom_modal-adjusted fieldset.collapsible{float:left; width:49%;}
.custom_modal-adjusted fieldset.collapsible.group-sth-event-details{margin-right:1.7%;}

/*.custom_modal-adjusted div.image-widget-data{margin-top:15px;}*/
.form-type-dragndrop-upload .droppable{width:100%; padding:0;}
.custom_modal-adjusted .droppable-message, 
.custom_modal-adjusted .droppable-message .droppable-standard-upload{min-height:inherit; line-height:inherit;}
.custom_modal-adjusted .droppable-message{padding:20px 0;}
#edit-actions{margin-bottom:0;}

/*admin styling for Contact us*/
.jcarousel-skin-default .jcarousel-item{width:150px; height:142px; position:relative; margin:0 20px 0 0;}

.jcarousel-skin-default .jcarousel-container-horizontal, 
.jcarousel-skin-default .jcarousel-clip-horizontal{width:670px;}

.jcarousel-skin-default .jcarousel-container-horizontal{height:auto; margin:0; padding:30px 0 0 0; margin:0;}
/*.jcarousel-skin-default .jcarousel-next, .jcarousel-skin-default .jcarousel-prev{display:none;}*/

.jcarousel-skin-default .jcarousel-item .views-field-edit-node, 
.jcarousel-skin-default .jcarousel-item .views-field-delete-node{position:absolute; left:43%; color:#FFF; font-size:20px;}

.jcarousel-skin-default .jcarousel-item .views-field-edit-node a, 
.jcarousel-skin-default .jcarousel-item .views-field-delete-node a{position:absolute; height:20px; width:20px; left:0;}

.jcarousel-skin-default .jcarousel-item .views-field-edit-node{top:2px;}

.jcarousel-skin-default .jcarousel-item .views-field-delete-node, 
.jcarousel-skin-default .jcarousel-item .views-field-delete-node a{bottom:2px}

.jcarousel-skin-default .jcarousel-prev-horizontal{top:15px; left:0;}
.jcarousel-skin-default .jcarousel-next-horizontal{left:30px; top:15px;}

/*admin styling for Contact us form*/
.node-acct_rep-form .acc-rep-form div.form-wrapper, 
.node-acct_rep-form .acc-rep-form div.form-item-title{float:left; width:48%; margin-right:2%;}

.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-acct-rep-image, 
.node-acct_rep-form .acc-rep-form div.form-wrapper.field-widget-text-textarea-with-summary{width:100%; float:none;}

.node-acct_rep-form .acc-rep-form div.form-wrapper input.form-text, 
.node-acct_rep-form .acc-rep-form div.form-item-title input.form-text{width:100%;}

.node-acct_rep-form .field-name-field-acct-rep-image .image-preview{width:auto; padding:0;}
.node-acct_rep-form .field-name-field-acct-rep-image .image-preview img{border:solid 1px #CCCCCC; margin-right:20px;}
.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset{border:0; padding:0;}
.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset .fieldset-legend, 
.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset .fieldset-wrapper{position:static; margin:0; padding:0;}

.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset .date-padding {padding:0;}
.custom_modal-adjusted .node-acct_rep-form div.image-widget-data{margin-top:0;}
.custom_modal-adjusted .node-acct_rep-form div.image-widget-data .form-submit{float:left; clear:both; /*margin-top:10px;*/}
/*.custom_modal-adjusted .node-acct_rep-form div.image-widget-data .form-submit#edit-field-acct-rep-image-und-0-upload-button{margin-top:0;}*/

.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset .fieldset-wrapper, 
.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset legend{float:left;}

.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset legend{margin:6px 20px 0 0;}

.ckeditor_links, 
#body-add-more-wrapper .filter-wrapper.form-wrapper{display:none !important;}

.node-acct_rep-form .field-widget-image-image .form-item{width:97%;}
 
/*admin styling for Game Events*/
.node-games-form .group-game-event-details .field-name-field-opponent-team, 
.node-games-form .group-game-event-details .form-item-title, 
.node-games-form .group-game-event-details .group-game-score, 
.node-games-form .group-game-score .form-wrapper, 
.node-games-form .group-game-event-details .group-game-score, 
.node-games-form .field-name-field-event-date, 
.node-games-form .field-name-field-game-countdown, 
.node-games-form .group-game-event-details .field-type-text, 
.node-games-form fieldset.collapsible .field-type-text{float:left; width:49%;}

.node-games-form .group-game-event-details .field-name-field-opponent-team, 
.node-games-form .group-game-score .field-name-field-team-score, 
.node-games-form .field-name-field-event-date, 
.node-games-form #edit-field-game-code, 
.node-games-form fieldset.collapsible #edit-field-team-score{margin-right:2%;}

.node-games-form .group-game-event-details .field-name-field-opponent-team input, 
.node-games-form .group-game-event-details .form-item-title input, 
.node-games-form .group-game-score .form-wrapper input, 
.node-games-form .group-game-event-details .field-type-text input, 
.node-games-form fieldset.collapsible .field-type-text input{width:99%;}

.node-games-form .group-game-event-details .field-name-field-event-date{clear:both;}
.form-type-radios div.form-type-radio:first-child{float:left; margin-right:25px;}
.container-inline-date .date-padding{padding-bottom:0;}

.node-games-form fieldset.form-wrapper.required legend, 
.node-games-form fieldset.form-wrapper.required .fieldset-description{display:none;}

.node-games-form .collapsible.required-fields.form-wrapper.collapse-processed{float:none; width:auto;}
.node-games-form #edit-field-game-countdown fieldset.form-wrapper{padding-top:0.8em;}
.node-type-event .node-event-form .group-sth-event-titles h3{display:none;}

/*node-type-other-event*/
.node-type-other-event div.field-type-image{float:left; width:49%;}
.node-type-other-event div#edit-field-image{margin-right:2%;}
.node-type-other-event .field-type-image .form-item{width:97%;}

/*Admin section for takeover page*/
/*.custom_acc_rep-adjusted .form-item-title input{width:99.6%;}*/
.custom_acc_rep-adjusted #custom-add-take-over .container-inline-date .form-type-textfield div.description{display:none;}
.custom_acc_rep-adjusted #custom-add-take-over .container-inline-date{float:left; clear:none;}
.custom_acc_rep-adjusted #custom-add-take-over .container-inline-date .form-item label{float:left; margin-top:16px;}
.custom_acc_rep-adjusted .form-item-takeover-occurences{float:left; margin-right:40px;}
.custom_acc_rep-adjusted .form-type-radios{clear:both; overflow:hidden;}
.custom_acc_rep-adjusted .form-type-radios.form-item-layout .form-type-radio{float:left; width:21%; position:relative; text-align:center;}
/*.custom_acc_rep-adjusted .form-type-radios.form-item-layout .form-type-radio .form-radio{visibility:hidden;}*/
.custom_acc_rep-adjusted .form-type-radios .form-type-radio .layout-takeover{position:absolute; bottom:10px;}
.custom_acc_rep-adjusted .form-type-radios .form-type-radio .layout-txt{padding:0 0 0 17px;}
.custom_acc_rep-adjusted .form-type-radios .form-type-radio img{width:100%; outline:solid 1px #dddddd;}

.custom_acc_rep-adjusted .form-type-radios .form-type-radio .to-img1, 
.custom_acc_rep-adjusted .form-type-radios .form-type-radio .to-img2 { margin-top:8px;}

.custom_acc_rep-adjusted .form-type-radios .form-type-radio .active img{outline:none;}
.custom_acc_rep-adjusted .form-type-radios .form-type-radio .active{border:solid 3px #600;}
.custom_acc_rep-adjusted .form-type-radios.form-item-layout .form-type-radio:first-child{border-right:solid 1px #CCC; margin-right:2%; padding-right:2%;}
#custom-add-take-over .form-item-title label{float:left; width:83px; margin-top:2px;}
#custom-add-take-over .form-item-title input{width:430px;}

@-moz-document url-prefix() { 
  #custom-add-take-over .form-item-title input{width:26.9%;}
}
/*.custom_acc_rep-adjusted #custom-add-take-over .container-inline-date .form-item input{width:223px;}*/

/*----------------promo-tiles------------*/
.view-manage-promo-tiles .views-form .views-table .draggable a.tabledrag-handle{margin-top: 1.6em;}
.view-manage-promo-tiles .views-form .views-table .draggable .views-field-field-image img{ margin-right:5%; vertical-align: middle; display:inline-block;}

/*Admin section for promo-tiles form*/
/*.node-promo_tile-form .field-widget-image-image .image-widget .image-preview{width:105px;}*/
.custom_modal-adjusted .node-promo_tile-form div.image-widget-data{margin-top:0;}
.node-promo_tile-form .imageeditor{display:none;}
.node-promo_tile-form .form-managed-file .form-submit{float:left; clear:both; margin-top:6px;}
.custom_acc_rep-adjusted .field-name-field-countdown-title input{width:99.6%;}
.node-promo_tile-form .field-type-datetime .fieldset-wrapper{padding:0 0 0 5px; overflow:hidden;}
/*.node-promo_tile-form .field-type-datetime fieldset.form-wrapper{padding-top:0.5em;}*/
.node-promo_tile-form .field-type-datetime div.description{padding-left:10px;}
.node-promo_tile-form .field-name-field-image input[type="file"]{margin-top:6px;}
.page-admin-manage-promo-tiles div.attachment.attachment-after{border-top:dashed 2px #CCCCCC;}
.page-node-add-other-event div.image-widget-data, .page-node-add-event div.image-widget-data{float:none;}

/*Globally changes*/
.droppable{border:dashed 2px #8b8b8b;}
.counter{font-family:Arial,Helvetica,sans-serif; font-size:0.75em; margin:5px 0;}
div.filefield-sources-list a{font-size:0.923em; letter-spacing:0.03em;}
.filefield-source-remote .form-type-textfield input.form-text {margin-top:6px; padding:7px 5px;}
div.vertical-tabs ul li.vertical-tab-button{border:solid 1px #ccc; float:left; border-bottom:none;}
div.vertical-tabs .vertical-tabs-list{width:auto;}

div.vertical-tabs ul li.vertical-tab-button a, 
div.vertical-tabs ul li.vertical-tab-button a:hover, 
div.vertical-tabs ul li.vertical-tab-button a:active, 
div.vertical-tabs ul li.selected a, 
div.vertical-tabs ul li.selected a:focus,
div.vertical-tabs ul li.selected a:focus strong{border:0 !important; text-decoration:none !important;}

div.vertical-tabs ul li.vertical-tab-button strong{font-weight:normal;}
/*div.vertical-tabs ul li.selected a, div.vertical-tabs ul li.selected a:hover{background:#ddd !important; }*/
div.vertical-tabs .vertical-tabs-panes{clear:both; background:none; margin:0;}
div.vertical-tabs{background:none; margin:75px 0 0 0; clear:both;}
div.vertical-tabs .vertical-tabs-list{border:0; margin:-56px 0 0 -1px;}
.fieldset-description{font-size:0.846em;}
.field-type-image .form-item{padding:9px 10px; border:solid 1px #CCC; }
.field-type-image .image-widget input.form-submit{float:left; clear:both;}
div.filefield-source .form-item{padding:0; border:0;}
#system-performance-settings #edit-clear-cache{padding: 2.3em 0 .9em 0;}
.field-type-image .image-widget-data .file {float: left;}
.field-type-image .image-widget{margin-top:4px;}
.custom_modal-adjusted div.image-preview{margin:0 10px 0 0; padding:0; min-height:85px; border:dotted 1px #CCCCCC;}
#overlay-tabs li a, #overlay-tabs li a:hover{font-weight:normal;}

#overlay .form-radio{margin-top:-3px;}
#admin-menu li.admin-menu-account > a {background: #911 url(images/bkg-red.png) bottom left repeat-x}
/*#overlay .form-item-title label{margin-top:2px;}*/
