/* Generic elements.*/
body {
	color: #000;
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}
a {
	color: #0074BD;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
hr {
	margin: 0;
	padding: 0;
	border: none;
	height: 1px;
	background:#cccccc;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 10px 0;
}
h1 {
	font-size: 1.538em;
}
h2 {
	font-size: 1.385em;
}
h3 {
	font-size: 1.231em;
}
h4 {
	font-size: 1.154em;
}
h5, h6 {
	font-size: 1.077em;
}
p {
	margin: 1em 0;
}
dl {
	margin: 0 0 20px;
}
dl dd, dl dl {
	margin-left: 20px;
	margin-bottom: 10px;
}
blockquote {
	margin: 1em 40px;
}
address {
	font-style: italic;
}
u, ins {
	text-decoration: underline;
}
s, strike, del {
	text-decoration: line-through;
}
big {
	font-size: larger;
}
small {
	font-size: smaller;
}
sub {
	vertical-align: sub;
	font-size: smaller;
	line-height: normal;
}
sup {
	vertical-align: super;
	font-size: smaller;
	line-height: normal;
}
nobr {
	white-space: nowrap;
}
abbr, acronym {
	border-bottom: dotted 1px;
}
ul, .block ul, .item-list ul {
	list-style-type: disc;
	list-style-image: none;
	margin: 0.25em 0 0.25em 1.5em;
}
.item-list .pager li {
	padding: 0.5em;
}
.item-list ul.pager {
	margin-top:15px;
}
.pager .pager-current {
	color:#e24912;
}
.item-list .pager li a {
	color:#717171;
}
.item-list ul li, li.leaf, ul.menu li {
	list-style-type: disc;
	list-style-image: none;
}
ul.menu li {
	margin: 0;
}
ol {
	list-style-type: decimal;
	margin: 0.25em 0 0.25em 1.5em;
}
.item-list ul li.collapsed, ul.menu li.collapsed {
	list-style-image:url(../../misc/menu-collapsed.png);
	list-style-type:disc;
}
.item-list ul li.expanded, ul.menu li.expanded {
	list-style-image:url(../../misc/menu-expanded.png);
	list-style-type:circle;
}
quote, code {
	margin: .5em 0;
}
code, pre, kbd {
	font-size: 1.231em;
}
pre {
	margin: 0.5em 0;
	white-space: pre-wrap;
}
/*Skip link.*/
#skip-link {
	margin-top: 0;
	position: absolute;
	left: 50%;
	margin-left: -5.25em;
	width: auto;
	z-index: 50;
}
#skip-link a, #skip-link a:link, #skip-link a:visited {
	display: block;
	background: #444;
	color: #fff;
	font-size: 1em;
	padding: 1px 10px 2px 10px;
	text-decoration: none;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-radius: 0 0 10px 10px;
}
#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
	outline: 0;
}
/*Branding.*/
#branding {
	overflow: hidden;
	padding:6px 20px 0 20px;
	position: relative;
	background-color: #afafaf;
}
#toolbar {
	background: none repeat scroll 0 0 #AFAFAF;
}
#branding div.breadcrumb {
	font-size: 1em;
	padding-bottom: 5px;
}
#branding div.block {
	position: relative;
	float: right;
	width: 240px;
	padding-left: 10px;
	background: #333;
}
#branding div.block form label, #other-event-node-form #edit-field-calendar-event {
	display: none;
}
#branding div.block form div.form-item {
	float: left;
	border: 0;
	margin: 0;
	padding: 0;
}
#branding div.block form input.form-text {
	width: 140px;
	margin-right: 10px;
}
#branding div.block form input.form-submit {
	text-align: center;
	width: 80px;
}
/*Help.*/
#help {
	font-size: 1em;
	margin-top: 1em;
}
#help p {
	margin: 0 0 10px;
}
#help div.more-help-link {
	text-align: right;
}
/*Page title. */
#page-title {
	background: #333;
	padding-top: 20px;
}
#branding h1.page-title {
	color: #000;
	margin: 0;
	padding-bottom: 10px;
	font-size: 1.385em;
	font-weight: normal;
	float: left;
}
/* Console. */
#console {
	margin: 9px 0 10px;
}
/*Tabs. */
ul.primary {
	float: right;
	border-bottom: none;
	text-transform: uppercase;
	font-size: 1em;
	height: 2.60em;
	margin: 0;
	padding-top: 0;
}
ul.primary li {
	float: left;
	list-style: none;
	margin: 0 2px;
}
ul.primary li a:link, ul.primary li a.active, ul.primary li a:active, ul.primary li a:visited, ul.primary li a:hover, ul.primary li.active a {
	display: block;
	float: left;
	height: 2.60em;
	line-height: 2.60em;
	padding: 0 18px 8px;
	color: #000;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #a6a7a2;
}
ul.primary li.active a, ul.primary li.active a.active, ul.primary li.active a:active, ul.primary li.active a:visited {
	background-color: #fff;
	border-color: #c9cac4;
	color:#e24912;
}
ul.primary li a:hover {
	color: #e24912;
}
ul.primary li.active a:hover {
	color: #000;
}
.tabs-secondary {
	clear: both;
}
ul.secondary {
	float:left;
	font-size: 1em;
	padding: 0 3px 0px;
	line-height: 1.385em;
	overflow: hidden;
	background-color: #fff;
	margin-bottom:5px;
}
ul.secondary li {
	float: none;
}
ul.secondary li a {
	background-color:#e7e7e7;
	text-transform:uppercase;
	-moz-box-shadow:    inset 0 0 5px #fff;
	-webkit-box-shadow: inset 0 0 5px #fff;
	box-shadow:         inset 0 0 5px #fff;
	border:1px solid #c2c2c2;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #000;
	display: inline-block;
}
ul.secondary li a, ul.secondary li a:hover, ul.secondary li.active a, ul.secondary li.active a.active {
	padding: 5px 10px;
	border: 1px solid #C2C2C2;
}
ul.secondary li a:hover, ul.secondary li.active a, ul.secondary li.active a.active {
	color:#E24912;
	border: 1px solid #C2C2C2;
}
#secondary-links ul.links li {
	padding: 0 10px 10px 0;
}
#secondary-links ul.links li a {
	font-size: 1em;
	background: #777;
	color: #fff;
	text-align: center;
	padding: 5px;
	height: 55px;
	width: 80px;
	overflow: hidden;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#secondary-links ul.links li a:hover {
	background: #999;
}
ul.links li, ul.inline li {
	padding-right: 1em;
}
ul.inline li {
	display: inline;
}
#secondary-links ul.links li.active-trail a, #secondary-links ul.links li a.active {
	background: #333;
}
ul.admin-list li {
	position: relative;
	padding-left: 30px;
	padding-top: 9px;
	border-top: 1px solid #ccc;
	margin-left: 0;
	margin-bottom: 10px;
	background: url(images/list-item.png) no-repeat 0 11px;
	list-style-type: none;
	list-style-image: none;
}
.admin-panel .item-list ul, ul.admin-list {
	margin: 0;
	padding: 0;
}
.admin-panel .item-list ul, ul.admin-list.compact {
	margin: 8px 0;
}
.admin-panel .item-list li, ul.admin-list.compact li {
	border: none;
	background: none;
	margin: 0 0 0.75em;
	line-height: 1;
	padding: 0;
}
ul.admin-list li:last-child {
	border-bottom: none;
}
ul.admin-list li a {
	margin-left: -30px;
	padding: 0 0 4px 30px;
	min-height: 0;
}
ul.admin-list.compact li a {
	margin-left: 0;
	padding: 0;
}
ul.admin-list li div.description a {
	margin-left: 0;
	padding: 0;
	min-height: inherit;
}
div.submitted {
	color: #898989;
}
/*Tables. */
table {
	width: 100%;
	font-size: 1em;
	border: 1px solid #bebfb9;
}
table td, table th {
	vertical-align: middle;
	padding: 8px 15px;
	border: 0;
	text-align:center;
}
table td.views-field-title, table th.views-field-title {
	text-align:left;
}
table td.views-field-title{line-height:26px;}
tr.even, tr.odd {
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #bebfb9;
	background: #fff;
}
tr.odd {
	background: #f9f9f9;
}
tr.drag {
	background: #fe7;
}
tr.drag-previous {
	background: #ffb;
}
table th {
	background: #e1e2dc;
	border-width: 1px;
	border-style: solid;
	border-color: #bebfb9;
	padding: 8px 15px;
}
table th.active {
	background: #bdbeb9;
}
table th a {
	display: block;
	position: relative;
}
table th.active a {
	padding: 0 25px 0 0;
}
table th.active img {
	position: absolute;
	top: 3px;
	right:10px;
}
table td.active {
	background: #e9e9dd;
}
table tr.odd td.active {
	background: #f3f4ee;
}
table tr.selected td.active, table tr.selected td {
	background: #ffc;
	border-color: #eeb;
}
table.system-status-report tr {
	border-bottom: 1px solid #ccc;
}
table.system-status-report tr.ok {
	color: #255b1e;
	background-color: #e5ffe2;
}
table.system-status-report tr.info {
	color: #040f37;
	background-color: #bdf;
}
table.system-status-report tr.warning {
	color: #840;
	background-color: #fffce5;
}
table.system-status-report tr.error {
	color: #8c2e0b;
	background-color: #fef5f1;
}
tr td:last-child {
	border-right: 1px solid #bebfb9;
}
fieldset, .field-type-image .form-item {
	border: 1px solid #929292;
	padding: 15px 15px 10px 15px;
	position: relative;
	margin: 0 0 15px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(231,231,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0 ); /* IE6-8 */
}
fieldset fieldset {
	margin-bottom:5px;
}
fieldset legend {
	padding:0 0 5px;
	float:left;
	width:100%;
}
fieldset .fieldset-legend, .stp-legend-heading .form-item label, .field-type-field-countdown label, .field-name-body .form-item label, .field-type-image .form-item label{
	font-size:16px;
	font-weight:bold;
}
.field-type-field-countdown .form-item .date-padding label {font-size:1em;}
fieldset .fieldset-wrapper, .field-type-image .form-item {
	overflow:hidden;
	clear:both;
}
fieldset.collapsed {
	background-color: transparent;
}
html.js fieldset.collapsed {
	border-width: 1px;
	height: auto;
}
fieldset fieldset fieldset {
	background-color: #f8f8f8;
}
/*Form elements. */
.form-type-checkbox {
	padding: 0;
}
.text-format-wrapper .form-item {
	padding-bottom: 0;
}
.form-item label {
	padding: 0 0 2px 0;
}
.form-item label, ol li {
	font-weight:bold;
}
ol li {
	font-weight:normal;
}
.form-item .form-radios label {
	font-size:1em;
	font-weight:normal;
}
.form-item label.option input {
	vertical-align: middle;
}
.form-disabled input.form-autocomplete, .form-disabled input.form-text, .form-disabled input.form-file, .form-disabled textarea.form-textarea, .form-disabled select.form-select {
	background-color: #eee;
	color: #929292;
}
/* Filter */
.filter-wrapper {
	border-top: 0;
	padding: 10px 2px;
}
.filter-wrapper .fieldset-wrapper {
	padding: 0 6px;
}
.filter-wrapper .form-item, .filter-wrapper .filter-guidelines, .filter-wrapper .filter-help {
	font-size: 1em;
	padding: 2px 0 0 0;
}
ul.tips, .description, .form-item div.description, .text-format-wrapper .description {
	padding-top:2px;
    font-size:.9em;
}
ul.tips li {
	margin: 0.25em 0 0.25em 1.5em;
}
body div.form-type-radio div.description, body div.form-type-checkbox div.description {
	margin-left: 1.5em;
}
a.button:link, a.button:visited, a.button:hover, a.button:active, #node-delete-confirm #edit-actions #edit-cancel:hover, #node-delete-confirm #edit-actions #edit-cancel:active, #node-delete-confirm #edit-actions #edit-cancel:visited {
	text-decoration: none;
	color: #5a5a5a;
}
input.form-button-disabled, input.form-button-disabled:active {
	background: #eee none;
	border-color: #eee;
	text-shadow: none;
	color: #999;
}
input.form-autocomplete, input.form-text, input.form-file, textarea.form-textarea, select.form-select {
	padding:5px;
	border:1px solid #929292;
	background: #fff;
	color: #333;
   -moz-box-shadow:inset 0px 0px 5px #CFCFCF;
   -webkit-box-shadow:inset 0px 0px 5px #CFCFCF;
   box-shadow:inset 0px 0px 5px #CFCFCF;
}
input.form-autocomplete, input.form-text, input.form-file {width:447px;}
input.form-text:focus, input.form-file:focus, textarea.form-textarea:focus, select.form-select:focus {
	color: #000;
	border-color: #ace;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
html.js input.form-autocomplete {
	background-position: 100% 6px;
}
html.js input.throbbing {
	background-position: 100% -14px;
}
#node-delete-confirm #edit-actions a#edit-cancel, .page-media-browser .fake-cancel {
 padding-bottom: 5px;
padding-top: 6px;
font-size: 13px;
}
ul.action-links {
	list-style-type: none;
	overflow: hidden;
	display:inline-block;
	margin-left:0;
}
ul.action-links li {
	float: left;
	margin: 0 1em 0 0;
}
ul.action-links a {
	padding:6px 10px 5px 24px;
	background:#e7e7e7 url(images/admin-add.png) no-repeat 9px center;
	-moz-box-shadow:    inset 0 0 5px #fff;
	-webkit-box-shadow: inset 0 0 5px #fff;
	box-shadow:         inset 0 0 5px #fff;
	border:1px solid #c2c2c2;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-transform:uppercase;
	font-size:12px;
	display:inline-block;
}
ul.action-links a:hover {
	text-decoration:none;
	color:#E24912;
}
/* Exceptions */
#diff-inline-form select, div.filter-options select {
	padding: 0;
}
/*System. */
div.admin .right, div.admin .left {
	width: 49%;
	margin: 0;
}
div.admin-panel, div.admin-panel .body {
	padding: 0;
	clear: left;
}
div.admin-panel {
	margin: 0 0 20px;
	padding: 9px;
	border: 1px solid #929292;
}
div.admin-panel h3 {
	font-size:1em;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 9px;
}
/* admin/appearance */
#system-themes-page h2 {
	font-weight: normal;
	text-transform: uppercase;
}
.theme-selector h3 {
	font-weight: normal;
}
.theme-default h3 {
	font-weight: normal;
}
.system-themes-list-enabled .theme-selector h3 {
	margin-top: 0;
}
/* Update options. */
div.admin-options {
	background: #f8f8f8;
	line-height: 30px;
	height: 30px;
	padding: 9px;
	border: 1px solid #929292;
	margin: 0 0 10px;
}
/*div.admin-options label {
	text-transform: uppercase;
	font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif;
}*/
div.admin-options label, div.admin-options div.form-item {
	margin-right: 10px;
	float: left;
}
div.admin-options div.form-item {
	padding: 0;
	border: 0;
}
/* Update status */
.versions table.version {
	border: none;
}
/* Maintenance theming */
body.in-maintenance #sidebar-first {
	float: left;
	width: 200px;
}
body.in-maintenance #content {
	float: right;
	width: 550px;
	padding-right: 20px;
	clear: none;
}
body.in-maintenance #page {
	overflow: auto;
	width: 770px;
	margin: 0 auto;
	padding-top: 2em;
}
body.in-maintenance #branding h1 {
	width: 770px;
	margin: 0 auto;
	float: none;
}
body.in-maintenance .form-radios .form-type-radio {
	padding: 2px 0;
}
body.in-maintenance .form-submit {
	display: block;
}
body.in-maintenance #logo {
	margin-bottom: 1.5em;
	max-width: 180px;
}
ol.task-list {
	margin-left: 0;
	list-style-type: none;
	list-style-image: none;
}
ol.task-list li {
	padding: 0.5em 1em 0.5em 20px;
	color: #adadad;
}
ol.task-list li.active {
	background: transparent url(images/task-item.png) no-repeat 3px 50%;
	padding: 0.5em 1em 0.5em 20px;
	color: #000;
}
ol.task-list li.done {
	background: transparent url(images/task-check.png) no-repeat 0 50%;
	color: green;
}
/* Overlay theming */
.overlay #branding {
	background-color: #fff;
	padding-top: 15px;
}
body.in-maintenance div.form-item:after, .overlay #branding, .overlay #left, .overlay #footer {
	display: none;
}
.overlay #branding div.breadcrumb {
	float: left;
	position: relative;
	z-index: 10;
}
#overlay-tabs {
	bottom: -2px;
	font-size: 1.54em;
	line-height: 1.54em;
	margin: 0;
 text-transform:none;
}
#overlay-tabs li {
	margin: 0 -2px;
}
.overlay ul.secondary {
	background: transparent none;
	margin: -1.4em 0 0.3em 0;
	overflow: visible;
}
/* Shortcut theming */
div.add-or-remove-shortcuts {
	float: left;
	padding-top: 6px;
	padding-left: 6px;
}
/* Dashboard */
#dashboard .dashboard-region div.block h2 {
	background: #E0E0D8;
}
#dashboard div.block h2 {
	margin: 0;
	font-size: 1em;
	padding: 3px 10px;
}
#dashboard div.block div.content {
	padding: 10px 5px 5px 5px;
}
#dashboard div.block div.content ul.menu {
	margin-left: 20px;
}
#dashboard .dashboard-region .block {
	border: #ccc 1px solid;
}
/* Field UI */
#field-display-overview input.field-formatter-settings-edit {
	margin: 0;
	padding: 1px 8px;
}
#field-display-overview tr.field-formatter-settings-changed {
	background: #FFFFBB;
}
#field-display-overview tr.drag {
	background: #FFEE77;
}
#field-display-overview tr.field-formatter-settings-editing {
	background: #D5E9F2;
}
#field-display-overview .field-formatter-settings-edit-form .form-item {
	margin: 10px 0;
}
#field-display-overview .field-formatter-settings-edit-form .form-submit {
	margin-bottom: 0;
}
/* Recent content block */
#dashboard div#block-node-recent div.content {
	padding: 0;
}
#block-node-recent table, #block-node-recent tr {
	border: none;
}
#block-node-recent .more-link {
	padding: 0 5px 5px 0;
}
/* User login block */
#user-login-form .openid-links {
	margin-left: 0;
}
#user-login-form .openid-links .user-link {
	margin-left: 1.5em;
}
/* Disable overlay message */
#overlay-disable-message {
	background-color: #addafc;
}
#overlay-disable-message a, #overlay-disable-message a:visited {
	color: #000;
}
#overlay-disable-message a:focus, #overlay-disable-message a:active {
	outline: none;
	text-decoration: underline;
}
.overlay-disable-message-focused a {
	padding: 0.4em 0.6em;
}
.overlay-disable-message-focused #overlay-dismiss-message {
	background-color: #59a0d8;
	color: #fff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.view-admin-view table, .page-node-webform-results-table table {
	width: 100%;
	border:1px solid #929292;
	border-right:none;
}
.view-admin-view th, .page-node-webform-results-table th, .view-manage-tab-pages th {
	padding:8px 0px;
	text-indent:10px;
}
.view-admin-view th, .page-node-webform-results-table th.active a img {
	margin-right:6px;
}
.view-admin-view tr, .page-node-webform-results-table tr {
	padding:5px 5px;
}
.view-admin-view td, .page-node-webform-results-table td {
	padding:5px 10px;
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
}
div.itoggle-wrapper {
	margin:auto;
	padding-left:12px;
}
.view-admin-view td.views-field-edit-node, .view-admin-view td.views-field-delete-node {
	text-transform: capitalize;
}
.view-admin-view td.views-field-title img {
	border: 1px solid #ddd;
}
.page-admin-manage ul.admin-list li {
	background:#F7F7F7;
	float:left;
	width:48%;
	margin-top:.5%;
	margin-left:.5%;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	margin-bottom:0%;
	min-height:90px;
	border:1px solid #eee;
}
.page-admin-manage ul.admin-list li a {
	margin-left: -10px;
	padding-left:65px;
	padding-top:0px;
	display: inline-block;
	font-size: 18px;
	line-height:29px;
	font-weight: normal;
	padding-bottom:0px;
}
.page-admin-manage ul.admin-list li.leaf a {
	background: url(images/ams-icon/work-card.png) 10px 5px no-repeat;
}
.page-admin-manage ul.admin-list li a:hover, .page-admin-manage ul.admin-list li a.active {
	color:#e24912;
	text-decoration:none;
}
body.page-admin-manage ul.admin-list li.leaf div.description {
	margin-left:55px;
	margin-top: 0;
	margin-bottom: 0;
}
.page-admin-manage ul.admin-list li.leaf a#admin-hero-image {
	background:url(images/ams-icon/hero-image.png) 10px 10px no-repeat; /* akc */
}
.page-admin-manage ul.admin-list li.leaf a#admin-case-study {
	background:url(images/ams-icon/case-study.png) 10px 10px no-repeat; /* akc */
}
.page-admin-manage ul.admin-list li.leaf a#admin-twitter-feed {
	background:url(images/ams-icon/twitter-feed.png) 10px 10px no-repeat; /* akc */
}
.page-admin-manage ul.admin-list li.leaf a#admin-achievement {
	background:url(images/ams-icon/achievement.png) 10px 10px no-repeat; /* akc */
}
.page-admin-manage ul.admin-list li.leaf a#admin-work-card {
	background:url(images/ams-icon/work-card.png) 10px 10px no-repeat; /* akc */
}
.page-admin-manage ul.admin-list li.leaf a#admin-thumbnails {
	background:url(images/ams-icon/featured.png) 10px 10px no-repeat; /* akc */
}
.page-admin-manage ul.admin-list li.leaf a#admin-photo-gallery {
	background:url(images/ams-icon/photo-gallery.png) 10px 10px no-repeat; /* akc */
}
.page-admin-manage ul.admin-list li.leaf a#admin-leadership {
	background:url(images/ams-icon/leadership.png) 10px 10px no-repeat; /* akc */
}
.page-admin-manage ul.admin-list li.leaf a#admin-openings {
	background:url(images/ams-icon/openings.png) 10px 10px no-repeat; /* akc */
}
.page-admin-manage ul.admin-list li.leaf a#admin-submission {
	background:url(images/ams-icon/openings.png) 10px 10px no-repeat; /* akc */
}
.page-admin-manage ul.admin-list li.leaf a#admin-inquiry {
	background:url(images/ams-icon/inquiries.png) 10px 10px no-repeat; /* akc */
}
.page-admin-manage ul.admin-list li.leaf a#site-pages {
	background:url(images/ams-icon/content-admin.png) 10px 10px no-repeat; /* akc */
}
#toolbar {
	box-shadow:none;
}
.page-admin-manage #toolbar div.toolbar-menu #toolbar-home .home a:hover {
	background:none;
}
#branding h1.page-title {
	padding-left:18px;
	color:#fff;
}
#branding h1.page-title em {
	font-style:normal;
}
div.toolbar-menu #toolbar-menu, #toolbar div.toolbar-drawer {
	margin-left:20px;
}
.item-list .pager li {
	border:1px solid #c2c2c2;
	padding:1px 5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
}
.view-admin-view .views-field-edit-node, .view-admin-view .views-field-delete-node, .view-admin-view .views-field-publish-button, .view-admin-view .views-field-field-image, .view-admin-view .views-field-field-thumbnail, .view-admin-view .views-field-view-node, .view-manage-tab-pages .views-field-edit-node {
	text-align:center;
}
.view-manage-promo-tiles td.views-field-field-image:first-child {
	text-align:left;
	width:47%;
}
.view-manage-promo-tiles td.views-field-field-type:nth-child(2) {
	width:15%;
}
.view-admin-view .views-field-field-image img, .view-admin-view .views-field-field-thumbnail img {
	border:1px solid #ddd;
}
.view-admin-view .views-field-edit-node a, .view-admin-view .views-field-view-node a, .view-manage-tab-pages .views-field-edit-node a {
	padding:4px 10px;
	width:20px;
	background:url(images/admin-edit.png) right center no-repeat;
	text-indent:999px;
	display: inline-block;
	overflow:hidden;
}
.view-admin-view .views-field-delete-node a {
	padding:4px 10px;
	width:20px;
	background:url(images/admin-delete.png) center center no-repeat;
	text-indent:999px;
	display: inline-block;
	overflow:hidden;
}
.view-admin-view .view-header {
	clear:both;
	padding-right:5px;
}

a.tabledrag-handle .handle {
	background: url(images/draggable.png) no-repeat 6px 10px;
	padding: 0.5em 0.5em;
}
.view-admin-view td.views-field-publish-button a.Unpublished {
	width:118px;
	height:24px;
	background:url(images/admin-unpublished.png) center center no-repeat;
	text-indent:999px;
	display: inline-block;
	overflow:hidden;
}
.view-admin-view td.views-field-publish-button a.Published {
	width:118px;
	height:24px;
	background:url(images/admin-published.png) center center no-repeat;
	text-indent:999px;
	display: inline-block;
	overflow:hidden;
}
body.view-admin-view #footer, body.toolbar #footer {
	position:fixed;
	width:100%;
	bottom: 0;
	left: 0;
	background:#000;
}
.admin-footer {
	width:95%;
	padding:1.3em 0 1.3em 0;
	color:#fff;
	font-size:11px;
	text-align:right;
	margin:0 auto;
	position:relative;
}
.admin-footer .logo {
	display: inline-block;
	float:left;
}
.field-name-field-careers {
	float:left;
	width:48%;
}
.field-name-field-location {
	float:left;
	width:52%;
	clear:right;
}
#page .webform-results-per-page {
	clear: both;
	float: right;
	margin-top: -25px;
	text-align: right
}
#banner-node-form .field-widget-image-image .image-widget .image-preview {
	width: 500px;
}
#page #edit-field-twitter, #page #edit-field-linkedin, #page #custom-admin-general-settings #edit-twitta, #page #custom-admin-general-settings #edit-twittb, #banner-node-form #edit-field-image, #people-node-form #edit-field-picture, #people-node-form #edit-field-red-image, #people-node-form #edit-field-bg-image, #people-node-form #edit-field-gray-thumbnail, #clients-node-form #edit-field-image, #page #clients-node-form #edit-field-link, #case-study-node-form #edit-field-page-image, #case-study-node-form #edit-field-image, #careers-node-form #edit-field-careers, #careers-node-form #edit-field-location, #page #people-node-form .form-item-title {
	width:48%;
	margin-right:.5%;
	float:left;
	border:1px solid #ccc;
	padding:.5% .6%;
}
#page #custom-admin-general-settings #edit-twitta {
	float:right;
}
#page #clients-node-form #edit-field-main-category, #page #clients-node-form #edit-field-sub-category, #clients-node-form .form-item-title {
	width:31.4%;
	margin-right:.6%;
	float:left;
	border:1px solid #ccc;
	min-height:100px;
	padding:.5% .6%;
}
#page #edit-field-work-type, #page #edit-field-related-work, #page #clients-node-form .vertical-tabs, #page #people-node-form #edit-body, #people-node-form .vertical-tabs {
	clear:both;
}
#page #edit-field-video #edit-field-video-und-table tbody tr {
	height:88px;
}
.page-node-132 ul.secondary li:first-child, .page-node-132 ul.secondary li:first-child + li, .page-node-132 table th:first-child +th +th, .page-node-132 table td:first-child +td +td {
	display: none;
}
.page-node-edit ul.tabs.primary li:first-child {
	display: none;
}
.node-form #edit-body, .node-form #edit-actions {
	clear: both;
}
#people-node-form #edit-field-picture, #people-node-form #edit-field-red-image, #people-node-form #edit-field-bg-image, #people-node-form #edit-field-gray-thumbnail, #case-study-node-form #edit-field-page-image, #case-study-node-form #edit-field-image {
	margin-top:1em;
	min-height:190px;
}
#work-node-form #edit-field-picture, #work-node-form #edit-field-video, #work-node-form #edit-field-video-thumbnail, #careers-node-form #edit-field-careers, #careers-node-form #edit-field-location {
	margin-top:1em;
}
#work-node-form #edit-field-thumbnail, #work-node-form #edit-field-full-title, #clients-node-form #edit-field-featured, #approaches-node-form #edit-field-image, #work-node-form #edit-field-picture, #careers-node-form #edit-field-apply-link {
	margin-top:1em;
	border: 1px solid #ccc;
	padding:1em;
}
#page #edit-field-work-type, #page #edit-field-work-url, #banner-node-form #edit-field-url, #work-node-form #edit-field-video, #work-node-form #edit-field-video-thumbnail {
	margin:10px 0;
	width:47.5%;
	margin-right:.5%;
	float:left;
	border:1px solid #ccc;
	padding:.7%;
}
#banner-node-form #edit-field-url {
	margin:0px 0;
	width:48.5%;
	min-height:170px;
	float:right;
}
#people-node-form .vertical-tabs, #page #clients-node-form .vertical-tabs, #banner-node-form .vertical-tabs, #case-study-node-form .vertical-tabs, #careers-node-form .vertical-tabs, #careers-node-form #edit-field-apply-link {
	margin-top:1em;
	float:left;
	width:100%;
}
#clients-node-form #edit-field-featured, #work-node-form #edit-field-video, #work-node-form #edit-field-video-thumbnail {
	margin-bottom:1em;
}
#banner-node-form #edit-field-image #edit-field-image-und, #work-node-form #edit-field-video #edit-field-video-und, #work-node-form #edit-field-video-thumbnail #edit-field-video-thumbnail-und {
	margin:0;
	border:none;
	padding-top:2em;
}
#banner-node-form #edit-field-image #edit-field-image-und .fieldset-wrapper, #work-node-form #edit-field-video #edit-field-video-und .fieldset-wrapper, #work-node-form #edit-field-video-thumbnail #edit-field-video-thumbnail-und .fieldset-wrapper, #banner-node-form #edit-field-image #edit-field-image-und legend .fieldset-legend, #work-node-form #edit-field-video #edit-field-video-und legend .fieldset-legend, #work-node-form #edit-field-video-thumbnail #edit-field-video-thumbnail-und legend .fieldset-legend {
	padding:0;
}
#work-node-form #edit-field-video #edit-field-video-und legend .fieldset-legend {
	margin:0;
}
#clients-node-form #edit-field-featured {
	width:97.9%;
	float:left;
	clear:both;
	margin-top:0;
}
#page #clients-node-form .vertical-tabs {
	width:99.4%;
}
/*************************************Added by Arvind Chaurasiaya************************************************/
#banner-node-form tr.draggable td a.tabledrag-handle {
	display: none;
}

.page-admin-manage .desk-board {
	float:left;
	width:100%;
	margin:1em 0;
}
.page-admin-manage .desk-board h3.heading {
	background-color:#e7e7e7;
	-moz-box-shadow:    inset 0 0 5px #fff;
	-webkit-box-shadow: inset 0 0 5px #fff;
	box-shadow: inset 0 0 5px #fff;
	border:1px solid #c2c2c2;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #000;
	font-size:15px;
}
.page-admin-manage .desk-board .dest-contenner {
	float:left;
	width:98%;
	border:1px solid #ccc;
	padding:1%;
}
#block-block-4 .content p a {
	padding:3px 10px 3px 10px;
	font-size:12px;
	text-transform:capitalize;
	background:#e7e7e7;
	-moz-box-shadow:    inset 0 0 5px #fff;
	-webkit-box-shadow: inset 0 0 5px #fff;
	box-shadow:         inset 0 0 5px #fff;
	border:1px solid #c2c2c2;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	float: right;
	color: #000000;
	position: absolute;
	right: 0;
	top: -2px;
}
#work-node-form #edit-field-work-slider-image {
	clear: both;
	margin: 10px 0 0 0;
}
#work-node-form .field-name-field-work-video table tr td .field-type-file, #work-node-form .field-name-field-work-video table tr td .field-type-image {
	padding: 10px;
	border: 1px solid #eee;
	margin: 20px 0;
	display: block;
}
#work-node-form .field-name-field-work-video table tr.odd {
	border: 1px solid #ccc;
}
.text-format-wrapper .form-textarea-wrapper .wysiwyg-toggle-wrapper, .text-format-wrapper .form-textarea-wrapper .counter {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.text-format-wrapper .form-textarea-wrapper .wysiwyg-toggle-wrapper a {
	margin-left:9px;
}
.text-format-wrapper .form-textarea-wrapper .counter {
	text-indent:9px;
}
div.vertical-tabs ul li.first a {
	border-top:1px solid #c2c2c2;
}
#case-study-node-form #edit-field-image, #page #edit-field-work-url, #page #edit-field-linkedin, #people-node-form #edit-field-red-image, #people-node-form #edit-field-gray-thumbnail, #page #people-node-form #edit-field-designation {
	width:48.6%;
	margin-right:0%;
	float:right;
}
#page #edit-field-work-url {
	width:48.9%;
}
#banner-node-form #edit-field-image, #case-study-node-form #edit-field-page-image, #page #edit-field-work-type, #clients-node-form #edit-field-image, #clients-node-form .form-item-title, #page #edit-field-twitter, #page #edit-field-linkedin, #people-node-form #edit-field-picture, #people-node-form #edit-field-red-image, #people-node-form #edit-field-bg-image, #page #people-node-form .form-item-title {
	margin-right:0;
}
#page #clients-node-form #edit-field-link {
	min-height:137px;
	float:right;
	width:48.1%;
}
#page #people-node-form #edit-field-designation {
	border:1px solid #ccc;
	padding:.5% .7%;
}
#page #people-node-form .form-item-title {
	min-height:96px;
}
#page #people-node-form #edit-field-vision {
	clear:both
}
#page #people-node-form #edit-field-tagline #edit-field-tagline-und-0-format {
	border:none;
}
#page #people-node-form #edit-field-tagline {
	float:left;
	width:98.9%;
	border:1px solid #ccc;
	padding:0% .5% .4% .5%;
}
/*admin styling for Events*/
.custom_modal-adjusted .node-buttons {
	margin-top:12px;
	overflow:hidden;
}
.custom_modal-adjusted .droppable-message, .custom_modal-adjusted .droppable-message .droppable-standard-upload {
	min-height:inherit;
	line-height:inherit;
}
.custom_modal-adjusted .droppable-message {
	padding:20px 0;
}
.custom_modal-adjusted .droppable-message .droppable-standard-upload {
	margin-top:5px;
}
/*admin styling for Contact us*/
.jcarousel-skin-default .jcarousel-item {
	width:150px;
	height:142px;
	position:relative;
	margin:0 20px 0 0;
}
.jcarousel-skin-default .jcarousel-container-horizontal, .jcarousel-skin-default .jcarousel-clip-horizontal {
	width:670px;
}
.jcarousel-skin-default .jcarousel-container-horizontal {
	height:auto;
	margin:0;
	padding:30px 0 0 0;
	margin:0;
}
.jcarousel-skin-default .jcarousel-item .views-field-edit-node, .jcarousel-skin-default .jcarousel-item .views-field-delete-node {
	position:absolute;
	left:43%;
	color:#FFF;
	font-size:20px;
}
.jcarousel-skin-default .jcarousel-item .views-field-edit-node a, .jcarousel-skin-default .jcarousel-item .views-field-delete-node a {
	position:absolute;
	height:20px;
	width:20px;
	left:0;
}
.jcarousel-skin-default .jcarousel-item .views-field-edit-node {
	top:2px;
}
.jcarousel-skin-default .jcarousel-item .views-field-delete-node, .jcarousel-skin-default .jcarousel-item .views-field-delete-node a {
	bottom:2px
}
.jcarousel-skin-default .jcarousel-prev-horizontal {
	top:15px;
	left:0;
}
.jcarousel-skin-default .jcarousel-next-horizontal {
	left:30px;
	top:15px;
}
/*admin styling for Contact us form*/
.node-acct_rep-form .acc-rep-form div.form-wrapper, .node-acct_rep-form .acc-rep-form div.form-item-title {
	float:left;
	width:49%;
	margin-right:1%;
}
.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-acct-rep-image, .node-acct_rep-form .acc-rep-form div.form-wrapper.field-widget-text-textarea-with-summary {
	width:100%;
	float:none;
}
.node-acct_rep-form .acc-rep-form div.form-wrapper input.form-text, .node-acct_rep-form .acc-rep-form div.form-item-title input.form-text {
	width:100%;
}
.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset {
	border:0;
	padding:0;
}
.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset .fieldset-legend, .node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset .fieldset-wrapper {
	position:static;
	margin:0;
	padding:0;
}
.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset .date-padding {
	padding:0;
}
.custom_modal-adjusted .node-acct_rep-form div.image-widget-data {
	margin-top:0;
}
.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset .fieldset-wrapper, .node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset legend {
	float:left;
}
.node-acct_rep-form .acc-rep-form div.form-wrapper.field-name-field-drafted-year fieldset legend {
	margin:6px 20px 0 0;
}
.ckeditor_links, #body-add-more-wrapper .filter-wrapper.form-wrapper {
	display:none !important;
}
/*admin styling for Game Events*/
.node-games-form .group-game-event-details .field-name-field-opponent-team input, .node-games-form .group-game-event-details .form-item-title input, .node-games-form .group-game-score .form-wrapper input, .node-games-form .group-game-event-details .field-type-text input, .node-games-form fieldset.collapsible .field-type-text input {
	width:99%;
}
.node-games-form .group-game-event-details .field-name-field-event-date {
	clear:both;
}
.form-type-radios div.form-type-radio:first-child {
	float:left;
	margin-right:25px;
}
.form-type-radios .form-radios {
	margin-top:-1px;
}
.container-inline-date .date-padding {
	padding:0;
	float:none;
}
.node-games-form .collapsible.required-fields.form-wrapper.collapse-processed {
	float:none;
	width:auto;
}
#toolbar-home a span, #branding .add-or-remove-shortcuts, #branding .add-shortcut, #branding .logo, .tabledrag-toggle-weight-wrapper .tabledrag-toggle-weight, #toolbar div.toolbar-menu a.toggle, .node-games-form fieldset.form-wrapper.required legend, .node-games-form fieldset.form-wrapper.required .fieldset-description, .node-type-event .node-event-form .group-sth-event-titles h3, .custom_acc_rep-adjusted #custom-add-take-over .container-inline-date .form-type-textfield div.description, .node-promo_tile-form .imageeditor, .node-take_over_pages-form .imageeditor, .page-node-delete #overlay-tabs, .node-type-take-over-pages #overlay-tabs {
	display:none;
}
/*node-type-other-event*/
.node-type-other-event .field-type-image .form-item {
	width:97%;
}
/*Admin section for takeover page*/
.custom_acc_rep-adjusted #custom-add-take-over .container-inline-date {
	float:left;
	clear:none;
}
.take_over_form .form-type-radios.form-item-layout .form-type-radio, .node-take_over_pages-form #edit-field-select-layout-und .form-item-field-select-layout-und {
	float:left;
	width:22%;
	position:relative;
	text-align:center;
 margin-right:1.85%;
    padding-right:1.855%;
    margin-bottom:4px;
    border-right:solid 1px #929292;
}
.take_over_form .form-type-radios.form-item-layout .form-type-radio:last-child, .node-take_over_pages-form #edit-field-select-layout-und .form-item-field-select-layout-und:last-child {
	border-right:none;
    
}
.node-take_over_pages-form #edit-field-select-layout-und .form-item-field-select-layout-und .to-img3{ margin-top:18px;}
/*.node-take_over_pages-form #edit-field-select-layout-und {margin-bottom:10px; float:left;}*/
.custom_acc_rep-adjusted .form-type-radios .form-type-radio .layout-takeover {
	position:absolute;
	bottom:10px;
}
.custom_acc_rep-adjusted .form-type-radios .form-type-radio .layout-txt {
	padding:0 0 0 17px;
}
.take_over_form .form-type-radios .form-type-radio img {
	width:100%;
}
.take_over_form .form-type-radios .form-type-radio .to-img1, .take_over_form .form-type-radios .form-type-radio .to-img2 {
	margin-top:4px;
}
.take_over_form .form-type-radios .form-type-radio .imageeditor-inline-wrapper {
	display:block !important;
	padding:1px;
	overflow:hidden;
	-webkit-box-shadow: inset 0px 0px 5px 2px rgba(97,97,97,0.7);
	-moz-box-shadow: inset 0px 0px 5px 2px rgba(97,97,97,0.7);
	box-shadow: inset 0px 0px 5px 2px rgba(97,97,97,0.7);
}
.take_over_form .form-type-radios .form-type-radio .to-img1.active .imageeditor-inline-wrapper,
.take_over_form .form-type-radios .form-type-radio .to-img2.active .imageeditor-inline-wrapper,
.take_over_form .form-type-radios .form-type-radio .to-img3.active .imageeditor-inline-wrapper {
	border:1px solid #929292;
   -webkit-box-shadow: inset 0px 0px 8px 5px rgba(146,146,146,1);
   -moz-box-shadow: inset 0px 0px 8px 5px rgba(146,146,146,1);
    box-shadow: inset 0px 0px 8px 5px rgba(146,146,146,1);
}
.take_over_form .form-type-radios .form-type-radio .imageeditor-inline-wrapper img {
	float:left;
}
/*----------------promo-tiles------------*/
.view-manage-promo-tiles .views-form .views-table .draggable a.tabledrag-handle {
	margin-top: 1.6em;
}
.view-manage-promo-tiles .views-form .views-table .draggable .views-field-field-image img {
	margin-right:5%;
	vertical-align: middle;
	display:inline-block;
}
/*Admin section for promo-tiles form*/
.custom_modal-adjusted .node-promo_tile-form div.image-widget-data {
	margin-top:0;
}
.field-type-image input[type="file"], div.filefield-source input.form-text {
	width:448px;
	margin-right:5px;
}
.field-type-image input[type="file"] {
	padding:1px 4px;
	float:left;
}
.page-admin-manage-promo-tiles div.attachment.attachment-before .view-content {
	border-bottom: dashed 2px #616161;
	padding-bottom:15px;
}
.page-node-add-other-event div.image-widget-data, .page-node-add-event div.image-widget-data {
	float:none;
}
/*Globally changes*/
.droppable {
	border:dashed 2px #8b8b8b;
	padding:0;
	display:block;
	float:none;
	overflow:hidden;
}
.counter {
	margin:5px 0 0;
}
div.filefield-sources-list a {
	font-size:1em;
	letter-spacing:0.03em;
}
div.vertical-tabs ul li.vertical-tab-button {
	border:solid 1px #ccc;
	float:left;
	border-bottom:none;
}
div.vertical-tabs .vertical-tabs-list {
	width:auto;
}
div.vertical-tabs ul li.vertical-tab-button a, div.vertical-tabs ul li.vertical-tab-button a:hover, div.vertical-tabs ul li.vertical-tab-button a:active, div.vertical-tabs ul li.selected a, div.vertical-tabs ul li.selected a:focus, div.vertical-tabs ul li.selected a:focus strong {
	border:0 !important;
	text-decoration:none !important;
}
/*div.vertical-tabs ul li.vertical-tab-button strong {
	font-weight:normal;
}*/
div.vertical-tabs ul li.selected a, div.vertical-tabs ul li.selected a:hover {
	background:#ddd !important;
}
div.vertical-tabs .vertical-tabs-panes {
	clear:both;
	background:none;
	margin:0;
}
div.vertical-tabs {
	background:none;
	margin:75px 0 0 0;
	clear:both;
}
div.vertical-tabs .vertical-tabs-list {
	border:0;
	margin:-56px 0 0 -1px;
}
/*.page-admin-manage-invoice .form-item {
	padding:9px 10px;
	border:solid 1px #616161;
}*/
.page-admin-manage-invoice .text-format-wrapper .form-item {
	padding:0;
	border:0;
}
.field-type-image .form-item div.image-widget-data {
	float:inherit;
}
.node-type-promo-tile .field-type-image .form-item div.image-widget-data .form-submit {
	clear:none;
}
div.filefield-source .form-item {
	padding:0;
	border:0;
	margin:0;
	background:none;
}
#system-performance-settings #edit-clear-cache {
	padding: 2.3em 0 .9em 0;
}
.field-type-image .image-widget-data .file {
	float: left;
	margin-right: 5px;
	margin-top: 2px;
}
.field-type-image .image-widget-data .file img.file-icon {
	float:left;
	margin-right:5px;
}
.field-type-image .image-widget-data .file-size {
	float:left;
	margin-top:3px;
	color:#929292;
}


/*Global Error for Admin section*/
.view-admin-view .view-header, .node-buttons.view-header {
	margin:0 0 1.25em 0;
	overflow:hidden;
}
.view-admin-view .view-header p {
	margin:0;
}
#overlay-tabs li a, #overlay-tabs li a:active, #overlay-tabs li a:visited, #overlay-tabs li a:hover {
	background-color:#eeeeee;
	color:#333333;
}
#overlay-tabs li a:focus, #overlay-tabs li a:hover {
	color:#000000;
}
#overlay-content {
	padding:15px;
}
/*Default Buttons*/
#edit-backtopage, .confirmation #edit-cancel, .page-media-browser .fake-cancel {
	border:1px solid #bbbbbb;
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(255,255,255) 0, rgb(224,224,224) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgb(255,255,255)), color-stop(100%,rgb(224,224,224))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(255,255,255) 0,rgb(224,224,224) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(255,255,255) 0,rgb(224,224,224) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(255,255,255) 0,rgb(224,224,224) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(255,255,255) 0,rgb(224,224,224) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	color:#000000;
	padding:5px 10px;
	border-radius:6px;
}
#edit-backtopage:hover, .confirmation #edit-cancel:hover, .page-media-browser .fake-cancel:hover {
	background:#f2f2f2; cursor:pointer;
}
/*Save Buttons*/
input.form-submit {
	background: rgb(66,139,202); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(66,139,202,1) 0, rgba(45,108,162,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgba(66,139,202,1)), color-stop(100%,rgba(45,108,162,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(66,139,202,1) 0,rgba(45,108,162,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(66,139,202,1) 0,rgba(45,108,162,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(66,139,202,1) 0,rgba(45,108,162,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(66,139,202,1) 0,rgba(45,108,162,1) 100%); /* W3C */
	border:solid 1px #2b669a;
	color:#FFFFFF;
	padding:5px 10px;
	border-radius:6px;
	cursor:pointer;
	display:inline-block;
	font-size:14px;
}
input.form-submit:hover {
	background: #2d6ca2;
}
.form-actions input.form-submit {
	margin-right:5px;
}
/*Upload Button*/
.field-type-image .form-submit, .form-managed-file .form-submit {
	background: rgb(92,184,92); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(92,184,92) 0%, rgb(65,150,65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(92,184,92)), color-stop(100%,rgb(65,150,65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(92,184,92) 0%,rgb(65,150,65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(92,184,92) 0%,rgb(65,150,65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(92,184,92) 0%,rgb(65,150,65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(92,184,92) 0%,rgb(65,150,65) 100%); /* W3C */
	border-color: #3e8f3e;
	color:#ffffff;
}
.field-type-image .form-submit:hover, .form-managed-file .form-submit:hover {
	background:#419641; border-color: #3e8f3e;
}
/*Red button*/
#edit-delete, .field-type-image .form-submit.rmve-btn, input.form-submit.rmve-btn, #edit-field-image-und-0-remove-button {
	background: rgb(252,104,93); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(252,104,93) 0%, rgb(217,83,79) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(252,104,93)), color-stop(100%,rgb(217,83,79))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(252,104,93) 0%,rgb(217,83,79) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(252,104,93) 0%,rgb(217,83,79) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(252,104,93) 0%,rgb(217,83,79) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(252,104,93) 0%,rgb(217,83,79) 100%); /* W3C */
	border-color:#d43f3a;
	color:#ffffff;
}
#edit-delete:hover, .field-type-image .form-submit.rmve-btn:hover, input.form-submit.rmve-btn:hover, #edit-field-image-und-0-remove-button:hover {
	background:#d43f3a;
    border-color:#d43f3a;
}
/*Browse button*/
.field-type-image a.button {
	border:solid 1px #707070;
	color:#000000;
	border-radius:3px;
	padding:2px 10px;
	font-size:14px;
	color:#000000;
background: rgb(240,240,240); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(240,240,240) 50%, rgb(212,212,212) 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgb(240,240,240)), color-stop(50%,rgb(212,212,212))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(240,240,240) 50%,rgb(212,212,212) 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(240,240,240) 50%,rgb(212,212,212) 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(240,240,240) 50%,rgb(212,212,212) 50%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(240,240,240) 50%,rgb(212,212,212) 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
}
/*Green Shade buttons*/
.view-admin-view .view-header p a, .view-admin-view .view-footer p a, .custom_modal-adjusted .node-buttons a {
	background: rgb(92,184,92); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(92,184,92) 0%, rgb(65,150,65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(92,184,92)), color-stop(100%,rgb(65,150,65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(92,184,92) 0%,rgb(65,150,65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(92,184,92) 0%,rgb(65,150,65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(92,184,92) 0%,rgb(65,150,65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(92,184,92) 0%,rgb(65,150,65) 100%); /* W3C */

	-webkit-box-shadow: #3D9403 1px 1px 1px inset;
	-moz-box-shadow: #3D9403 1px 1px 1px inset;
	box-shadow: #3D9403 1px 1px 1px inset;
	border-color: #3e8f3e;
	color:#ffffff;
	text-decoration:none;
	padding:5px 12px 5px 14px;
	border-radius:6px;
	font-size:14px;
	line-height:20px;
	display:inline-block;
}
.view-admin-view .view-header p a:hover, .view-admin-view .view-footer p a:hover, .custom_modal-adjusted .node-buttons a:hover {
	background:#419641; border-color: #3e8f3e;
}
input.form-checkbox, input.form-radio {
	margin-top:-1px;
}
#overlay-title em {
	font-style:normal;
}
/*Control BG, text color and border of the popup - Start*/
#overlay-content, #overlay-tabs li.active a:active, #overlay-tabs li.active a:visited, #overlay-close, #overlay-close:hover {
	background: rgb(244,244,244); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(208,210,208,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244,244,244,1)), color-stop(100%, rgba(208,210,208,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(208,210,208,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(208,210,208,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(208,210,208,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(244,244,244,1) 0%, rgba(208,210,208,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d0d2d0', GradientType=0 ); /* IE6-8 */
}
body, body a, #overlay-content, #overlay-tabs li.active a, #overlay-tabs li.active a.active, #overlay-tabs li.active a:active, #overlay-tabs li.active a:visited, #overlay-tabs li.active a:focus, #overlay-tabs li.active a:hover, #overlay-close:before {
	color:#000000;
}

 #overlay-tabs li.active a, #overlay-tabs li.active a.active{background:rgba(244, 244, 244, 1);}
/*#overlay-content, #overlay-close, #overlay-close:hover {
	border:solid 1px #616161;
}*/
html.js body {
	background:rgba(0, 0, 0, 0.5) !important;
}
.image-preview img {
	border:1px solid #929292;
}
/*Control BG, text color and border of the popup - End*/
#overlay-close, #overlay-close:hover {
	left:-1px;
	border-left:none;
}
#overlay-close:before {
	content:"X";
	position:absolute;
	right:0;
	top:0px;
	width:100%;
	height:22px;
	text-align:center;
	font-weight:bold;
	font-size: 15px;
	padding-top:4px;
}
.field-group-div .form-item, .form-actions.form-wrapper {
	margin-bottom:0;
}
#overlay {
	width:1024px;
	padding:0;
}
.fieldset-wrapper .form-wrapper, .form-type-radios, .fieldset-description, .form-item-title {
	clear:both;
}
.container-inline-date .form-item input {
 width:210px;
 margin-right:15px;
}
.ui-datepicker {width:216px;}
.form-item, .container-inline-date > .form-item {
	padding-bottom:5px;
}
.container-inline-date > .form-item {
	margin-bottom:0;
    margin-right:0;
}
#edit-field-drafted-year fieldset {
	border:0;
	margin:0;
	padding:0;
	background:none;
}
#edit-field-drafted-year fieldset .fieldset-legend {
	font-size:12px;
	margin:0;
	padding:0;
}
#edit-field-drafted-year fieldset legend {
	padding:0 0 2px;
}
.image-widget-data input.form-submit, .form-managed-file input.form-submit, #edit-field-images-und-table td .rmve-btn {
	float:right;
}
div.image-preview {
	padding:0 10px 0 0;
}
.cke_editable{padding:10px;}
#edit-field-images-und-table thead th:last-child{ text-align:right;}
div.messages{margin:5px 0 0 0;}

/*  */
.custom_crop-style-button-holder{position:absolute;left:16%;top:10%;}

.page-node-add-custom-background .imageeditor, .page-node-add-take-over-pages .field-type-datestamp .start-date-wrapper label, .page-node-add-take-over-pages .field-type-datestamp .end-date-wrapper .date-padding label, .node-type-take-over-pages .field-type-datestamp .start-date-wrapper label, .node-type-take-over-pages .field-type-datestamp .end-date-wrapper .date-padding label, .page-update-custom-background .field-name-field-images, .page-node-1306.page-node-edit #edit-delete, #overlay #overlay-titlebar #overlay-tabs, fieldset#mediaBrowser #media-browser-tabset li a#ui-id-2{display:none;}
.custom_crop-preview-cropped{border-radius:50%; border:solid 3px #ffffff;}
.node-take_over_pages-form .field-type-datetime .form-wrapper > legend{padding-bottom: 0;line-height:16px;}
.node-take_over_pages-form .field-type-datetime .form-wrapper > legend .form-required { font-size:12px;}
.node-take_over_pages-form .field-type-datetime .form-wrapper > legend .date-label{ font-size:12px; float:left; margin-right:3px;}
.page-admin-manage-events #overlay #overlay-titlebar #overlay-tabs { display:block;}
.page-update-custom-background .container-fluid.main-container {background: none;}
#overlay h1, #overlay h2, #overlay h3, #overlay h4, #overlay h5, #overlay h6, #overlay buttons, #overlay .btn{font-family:Arial,sans-serif;}
a.cke_dialog_ui_button{margin-top:14px!important;}
html.js body.page-media-browser{ background:none !important;}
form#menu-editor-overview-form td.drag { text-align:left;}
form#menu-editor-overview-form td.drag .tabledrag-handle { margin-left:12px; margin-top:-6px;}
form#menu-editor-overview-form td.drag .indentation, #media-browser-tabset li a#ui-id-2{ display:none;}
html.js body.node-type-event.overlay{background:url(images/loader.gif) no-repeat center center !important;}

.droppable-preview-image img{opacity:0.75;}