.printWrapper{ width:100%;position:relative;float:left; font-family:Arial, Helvetica; font-size:12px;}
.printHeader{ border-bottom:5px solid #e4701e;width: 100%;float:left;padding-bottom:10px;  font-size:14px; color:#666;}
.printHeader .logo{ float:left; display:block; width:160px; text-align:center;}
.head-cnt-mid {float:left; display:block; width:310px;}
.head-cnt-mid .teamname{ font-size:21px; color:#e4701e; margin-bottom:10px;}
.head-cnt-rgt {float:right; display:block; width:290px; margin-right:15px;}
.head-cnt-rgt .date-tkt{ margin-top:37px; text-align:right;}
.head-cnt-rgt .date-time{ text-align:right;}
.wrp-main{ margin:0; padding:12px 0; width: 100%; float: left; position:relative;}
.bdr3btn{ border-bottom:3px solid #b9babd;}
.bdr2btn{ border-bottom:2px solid #b9babd;}
.pdg5mrg{ padding-bottom:5px; margin-bottom:5px;}
.lftblck{ float:left; display:block; width:150px; padding-left:10px;}
.cmtblck{ float:left; display:block; width:330px;}
.rgtblck {float:right; display:block; width:260px; margin-right:15px; color:#666;}
.rgtblck .tcwrp{color:#666; width:100%; float:left; padding-right:15px;}
.rgtblck .tcwrp .tcnm{ float:left; width:64%;}
.rgtblck .tcwrp .tcamt{ float:right; width:35%; text-align:right;}
.bdr5lft{ border-left:5px solid #e4701e; padding-left:8px; margin-right:0;}
.trmwraprt{ float:left; display:block; width:610px; color:#666; font-family:Arial, Helvetica; font-size:12px;}

.lftblck .actinf, .rgtblck .actinf {color:#e4701e; font-size:15px;}
.cmtblck .addtl {color:#666; font-family:Arial, Helvetica; font-size:12px;}
.rgtblck .ttlamtd {text-align:right; font-size:14px;}
.rgtblck .ttlamtd .tlyl {color:#e4701e;}
.fnt16glb { font-size:14px;}
.fnt12ftr { font-size:11px; text-align:center; color:#666; font-family:Arial, Helvetica;}
.pgbrk {page-break-after:always;}
.tbl-chart { float:left; width:100%; padding-bottom:300px;}
.ticketTable{ display: block; width:100%; float:left; padding:0; margin:0px 12px 0 12px;border-collapse:collapse; font-family:Arial, Helvetica;}
.ticketTable tr.head td{color:#e4701e; font-size:14px; padding:2px 0; text-align: center;}
.ticketTable tr.head td.tqty {text-align:right; padding-right:66px;}
.ticketTable tr.head td.totalCost{text-align:right;}
.ticketTable tr.head td.decr{text-align:left;}
.ticketTable tr.tbr td {color:#666;}
.ticketTable tr.tbr .td1{width:154px;text-align: right; padding-right:66px; }
.ticketTable tr.tbr .td2{width:335px;text-align:left;}
.ticketTable tr.tbr .td3{width:80px;text-align:center; }
.ticketTable tr.tbr .td4{width:62px;text-align:center;}
.ticketTable tr.tbr .td5{width:62px;text-align:center; }
.ticketTable tr.tbr .td6{width:95px;text-align:right;}
.head-cnt-mid .teamname, .lftblck .actinf, .rgtblck .actinf, .rgtblck .ttlamtd .tlyl, .ticketTable tr.head td, .rgtblck .ttlamtd, .rgtblck .tcwrp .tcnm {font-family:"oswaldregular",Arial,sans-serif;}

