/* --------- default.css ------------- */
/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */

body {background:#000;}
.btn-default, .button_blue a{
background: rgb(0,40,88); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMjg1OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMjg4YmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMyUiIHN0b3AtY29sb3I9IiMwMDU2YzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAxYTNhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgb(0,40,88) 0%, rgb(40,139,255) 1%, rgb(0,86,192) 3%, rgb(0,26,58) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,40,88)), color-stop(1%,rgb(40,139,255)), color-stop(3%,rgb(0,86,192)), color-stop(100%,rgb(0,26,58))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(0,40,88) 0%,rgb(40,139,255) 1%,rgb(0,86,192) 3%,rgb(0,26,58) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(0,40,88) 0%,rgb(40,139,255) 1%,rgb(0,86,192) 3%,rgb(0,26,58) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(0,40,88) 0%,rgb(40,139,255) 1%,rgb(0,86,192) 3%,rgb(0,26,58) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(0,40,88) 0%,rgb(40,139,255) 1%,rgb(0,86,192) 3%,rgb(0,26,58) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002858', endColorstr='#001a3a',GradientType=0 ); /* IE6-8 */
}
.btn-light, .make-payment-wrapper button.form-submit{
background: rgb(10,94,158); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhNWU5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjNjhiM2Y0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMiUiIHN0b3AtY29sb3I9IiMwMDhhZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iIzAwOGFlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTYxYTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(10,94,158) 0%, rgb(104,179,244) 1%, rgb(0,138,236) 2%, rgb(0,138,236) 2%, rgb(10,97,164) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(10,94,158)), color-stop(1%,rgb(104,179,244)), color-stop(2%,rgb(0,138,236)), color-stop(2%,rgb(0,138,236)), color-stop(100%,rgb(10,97,164))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(10,94,158) 0%,rgb(104,179,244) 1%,rgb(0,138,236) 2%,rgb(0,138,236) 2%,rgb(10,97,164) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(10,94,158) 0%,rgb(104,179,244) 1%,rgb(0,138,236) 2%,rgb(0,138,236) 2%,rgb(10,97,164) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(10,94,158) 0%,rgb(104,179,244) 1%,rgb(0,138,236) 2%,rgb(0,138,236) 2%,rgb(10,97,164) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(10,94,158) 0%,rgb(104,179,244) 1%,rgb(0,138,236) 2%,rgb(0,138,236) 2%,rgb(10,97,164) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a5e9e', endColorstr='#0a61a4',GradientType=0 ); /* IE6-8 */
}
.btn-default:hover, .btn-light:hover, .button_blue a:hover,
.btn-default:active, .btn-light:active, .button_blue a:active,
.btn-default:focus, .btn-light:focus, .button_blue a:focus,
.make-payment-wrapper button.form-submit:hover, .make-payment-wrapper button.form-submit:active, .make-payment-wrapper button.form-submit:focus{background: rgb(0,40,88); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background:#0e0e0e;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {background: rgba(28,31,34,.95);}

.navbar-default {
background: rgb(118,121,122); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(149,152,154,1.0) 0%, rgba(167,170,172,1.0) 25%, rgba(161,164,166,1.0 40%, rgba(157,160,162,1.0) 55%, rgba(149,152,154,1.0) 65%, rgba(140,143,144,1.0)) 75%,rgba(133,135,137,1.0) 85%, rgba(118,121,122,1.0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,152,154,1.0)), color-stop(25%,rgba(167,170,172,1.0)),color-stop(40%,rgba(161,164,166,1.0)),color-stop(55%,rgba(157,160,162,1.0)), color-stop(65%,rgba(149,152,154,1.0)),color-stop(75%, rgba(140,143,144,1.0)), color-stop(85%,rgba(133,135,137,1.0)),color-stop(100%,rgba(118,121,122,1.0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(149,152,154,1.0) 0%, rgba(167,170,172,1.0) 25%, rgba(161,164,166,1.0 40%, rgba(157,160,162,1.0) 55%, rgba(149,152,154,1.0) 65%, rgba(140,143,144,1.0)) 75%,rgba(133,135,137,1.0) 85%, rgba(118,121,122,1.0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(149,152,154,1.0) 0%, rgba(167,170,172,1.0) 25%, rgba(161,164,166,1.0 40%, rgba(157,160,162,1.0) 55%, rgba(149,152,154,1.0) 65%, rgba(140,143,144,1.0)) 75%,rgba(133,135,137,1.0) 85%, rgba(118,121,122,1.0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(149,152,154,1.0) 0%, rgba(167,170,172,1.0) 25%, rgba(161,164,166,1.0 40%, rgba(157,160,162,1.0) 55%, rgba(149,152,154,1.0) 65%, rgba(140,143,144,1.0)) 75%,rgba(133,135,137,1.0) 85%, rgba(118,121,122,1.0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(149,152,154,1.0) 0%, rgba(167,170,172,1.0) 25%, rgba(161,164,166,1.0 40%, rgba(157,160,162,1.0) 55%, rgba(149,152,154,1.0) 65%, rgba(140,143,144,1.0)) 75%,rgba(133,135,137,1.0) 85%, rgba(118,121,122,1.0) 100%); /* W3C */
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
 .navbar-default .nav > li > a:hover, .navbar-default .navbar-nav >li >a:focus, .navbar-default .nav > .open > a, .navbar-default .nav > li.active > a,
 .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navHover,
#webform-client-form-116 .form-actions button, .page-node-116.node-type-webform  #webform-client-form-116 .form-actions a.no-thanks, .navbar-default .navbar-nav>.active-trail>a.active-trail,
.navbar-default .nav > li > a:focus{
 background: rgb(68,68,68); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDc5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDE5MzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,rgba(68,68,68,1.0) 0%,rgba(54,54,54,1.0) 25%,rgba(35,35,35,1.0) 50%,rgba(14,14,14,1.0) 75%, rgba(6,6,6,1.0) 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,68,68,1.0)),color-stop(25%,rgba(54,54,54,1.0)),color-stop(50%,rgba(35,35,35,1.0)rgba(35,35,35,1.0)),color-stop(75%,rgba(14,14,14,1.0)), color-stop(100%,rgba(6,6,6,1.0)))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,rgba(68,68,68,1.0) 0%,rgba(54,54,54,1.0) 25%,rgba(35,35,35,1.0) 50%,rgba(14,14,14,1.0) 75%, rgba(6,6,6,1.0) 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,rgba(68,68,68,1.0) 0%,rgba(54,54,54,1.0) 25%,rgba(35,35,35,1.0) 50%,rgba(14,14,14,1.0) 75%, rgba(6,6,6,1.0) 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,rgba(68,68,68,1.0) 0%,rgba(54,54,54,1.0) 25%,rgba(35,35,35,1.0) 50%,rgba(14,14,14,1.0) 75%, rgba(6,6,6,1.0) 100%)!important; /* IE10+ */
background: linear-gradient(to bottom,rgba(68,68,68,1.0) 0%,rgba(54,54,54,1.0) 25%,rgba(35,35,35,1.0) 50%,rgba(14,14,14,1.0) 75%, rgba(6,6,6,1.0) 100%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#060606',GradientType=0 )!important; /* IE6-8 */

}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
 background:rgba(0,0,0,1.0);border:1px solid rgba(0,0,0,0.85);box-shadow:rgba(222,222,222,0.8) 0px 1px 1px inset!important; -o-box-shadow:rgba(222,222,222,0.8) 0px 1px 1px inset!important; -webkit-box-shadow:rgba(222,222,222,0.8) 0px 1px 1px inset!important; -moz-box-shadow:rgba(222,222,222,0.8) 0px 1px 1px inset!important; /*margin:-1px -1px 0px -1px;*/margin:-1px 0px 0px 0px;
}
.navbar-nav > li.expanded ul li.leaf a.active:hover{margin:-1px 0px 0px 0px;}
.navbar-nav > li.expanded ul li.leaf a:hover{margin:-1px -1px 0px -1px;}
.navbar-default .dropdown-menu {
	background: rgba(61,59,59,0.85);
	background: -moz-linear-gradient(top,rgba(61,59,59,0.85) 0%,rgba(51,49,48,0.85) 25%,rgba(34,32,32,0.85) 50%,rgba(20,19,18,0.85) 75%, rgba(11,9,8,0.85) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,59,59,0.85)),color-stop(25%,rgba(51,49,48,0.85)),color-stop(50%,rgba(34,32,32,0.85)),color-stop(75%,rgba(20,19,18,0.85)), color-stop(100%,rgba(11,9,8,0.85))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,rgba(61,59,59,0.85) 0%,rgba(51,49,48,0.85) 25%,rgba(34,32,32,0.85) 50%,rgba(20,19,18,0.85) 75%, rgba(11,9,8,0.85) 100%)); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,rgba(61,59,59,0.85) 0%,rgba(51,49,48,0.85) 25%,rgba(34,32,32,0.85) 50%,rgba(20,19,18,0.85) 75%, rgba(11,9,8,0.85) 100%)); /* Opera 11.10+ */
background: -ms-linear-gradient(top,rgba(61,59,59,0.85) 0%,rgba(51,49,48,0.85) 25%,rgba(34,32,32,0.85) 50%,rgba(20,19,18,0.85) 75%, rgba(11,9,8,0.85) 100%)); /* IE10+ */
background: linear-gradient(to bottom,rgba(61,59,59,0.85) 0%,rgba(51,49,48,0.85) 25%,rgba(34,32,32,0.85) 50%,rgba(20,19,18,0.85) 75%, rgba(11,9,8,0.85) 100%)); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3b3b', endColorstr='#0b0908',GradientType=0 ); /* IE6-8 */
}

.calendar-legend .calendar-legend-right > li a.active, .calendar-legend .calendar-legend-right > li a:hover,
#custom-pawp-sign-up .btn.btn-default{background: -moz-linear-gradient(top, #434343 0%, #020202 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434343), color-stop(100%,#020202));
background: -webkit-linear-gradient(top, #434343 0%,#020202 100%);
background: -o-linear-gradient(top, #434343 0%,#020202 100%);
background: -ms-linear-gradient(top, #434343 0%,#020202 100%);
background: linear-gradient(to bottom, #434343 0%,#020202 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#020202',GradientType=0 );
 }
 
 .home-nextgamebg{background:url("../images/home-nextgamebg.png") repeat-x 0 0;}
 
 .countdown-promo-tile-days{background:url(../images/promo-days-bg.png) 0 0 repeat transparent;}
 
 .promo-tile .tilehead{
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMjk1YiIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDEwMjQiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(93,53,166,0.9) 0%, rgba(89,51,160,0.9) 30%,rgba(72,41,128,0.9) 45%, rgba(51,30,92,0.9) 55%, rgba(37,22,67,0.9) 75%, rgba(37,22,67,0.9) 90%, rgba(37,22,67,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(93,53,166,0.9)),color-stop(30%,rgba(89,51,160,0.9)),color-stop(45%,rgba(72,41,128,0.9)),color-stop(55%,rgba(51,30,92,0.9)),color-stop(75%,rgba(37,22,67,0.9)),color-stop(90%,rgba(37,22,67,0.9)), color-stop(100%,rgba(0,16,36,0.75))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(93,53,166,0.9) 0%, rgba(89,51,160,0.9) 30%,rgba(72,41,128,0.9) 45%, rgba(51,30,92,0.9) 55%, rgba(37,22,67,0.9) 75%, rgba(37,22,67,0.9) 90%, rgba(37,22,67,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(93,53,166,0.9) 0%, rgba(89,51,160,0.9) 30%,rgba(72,41,128,0.9) 45%, rgba(51,30,92,0.9) 55%, rgba(37,22,67,0.9) 75%, rgba(37,22,67,0.9) 90%, rgba(37,22,67,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(93,53,166,0.9) 0%, rgba(89,51,160,0.9) 30%,rgba(72,41,128,0.9) 45%, rgba(51,30,92,0.9) 55%, rgba(37,22,67,0.9) 75%, rgba(37,22,67,0.9) 90%, rgba(37,22,67,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(93,53,166,0.9) 0%, rgba(89,51,160,0.9) 30%,rgba(72,41,128,0.9) 45%, rgba(51,30,92,0.9) 55%, rgba(37,22,67,0.9) 75%, rgba(37,22,67,0.9) 90%, rgba(37,22,67,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5CE651B', endColorstr='#BF001024',GradientType=0 ); /* IE6-8 */
}

.promo-tile .promo-box a.promo-link:hover .second {background:url(../images/promo-link-hover.png) center bottom repeat-x;}

.infohourbg, .page-node-27 #node-27, .page-node-14 #node-14, .view-press-releases, .main-wrap .region-content .node, .main-wrap .region-content .node-video .field-name-field-bottom-content {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjklIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuODEiLz4KICAgIDxzdG9wIG9mZnNldD0iODklIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 1%, rgba(0,0,0,0.60) 69%, rgba(0,0,0,0.55) 89%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(1%,rgba(0,0,0,0.75)), color-stop(69%,rgba(0,0,0,0.60)), color-stop(89%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 1%,rgba(0,0,0,0.60) 69%,rgba(0,0,0,0.55) 89%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 1%,rgba(0,0,0,0.60) 69%,rgba(0,0,0,0.55) 89%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 1%,rgba(0,0,0,0.60) 69%,rgba(0,0,0,0.55) 89%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 1%,rgba(0,0,0,0.60) 69%,rgba(0,0,0,0.55) 89%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BF000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}

.vjs-default-skin .vjs-big-play-button{background-color: rgba(0, 41, 91, 0.7);}

.vjs-default-skin:hover .vjs-big-play-button, .vjs-default-skin .vjs-big-play-button:focus{
    background-color: rgba(0, 41, 91, 0.7);
}
.vjs-default-skin .vjs-play-progress{
    background: none;
    background-color: #ff0026;
}

.next-previous .next{
    background: transparent url('../images/pagination.png') -58px 0px no-repeat;
}
.next-previous .previous{
    background: transparent url('../images/pagination.png') 0px 0px no-repeat;
}
.promo-tile .row{background:url(../images/Promo_Tiles_Background.png) 0 0 repeat-x transparent;}

.block-custom-social-feed .promo-box{
    background:url("../images/bottom-tile.png") no-repeat 0 0;
}
.page-pawp-nojs-form .block-custom-social-feed .promo-box:hover{
    background:url("../images/tiles/social.png") no-repeat 0 0;
}
.footer-copyright{background:#000;}

body.front .hero, body.page-home .hero{background: transparent url("../images/home-page-mainbg.png") no-repeat 50% 50%;}

.vjs-default-skin .vjs-load-progress{
    background-color: rgba(255, 255, 255, 1);
}
.vjs-default-skin .vjs-control-bar{background-color: rgba(50, 50, 50, 0.5);}

.field-name-field-video.quickedit-processed {background-color: #000;}

.vjs-default-skin .vjs-volume-level{
    background-image: none;
    background-color: #fff;
}
.video-js{background:rgba(0,0,0,0.95); border:1px solid #717174; width:100%!important;text-align:center;}
.btn-default, .button_blue a{
	background: #373737;
	background: -moz-linear-gradient(top,  rgba(67,67,67,1.0) 0%, rgba(4,4,4,1.0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,67,67,1.0)), color-stop(100%,rgba(4,4,4,1.0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(67,67,67,1.0) 0%, rgba(4,4,4,1.0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(67,67,67,1.0) 0%, rgba(4,4,4,1.0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(67,67,67,1.0) 0%, rgba(4,4,4,1.0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(67,67,67,1.0) 0%, rgba(4,4,4,1.0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#040404',GradientType=0 ); /* IE6-8 */
}






/* ----------- style.css --------------- */
/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */


body.page-user .container-fluid, .page-node-31 .container-fluid { background:#000 url("../images/user-login-mainbg.jpg") no-repeat top center scroll;}
#user-login, .pawp-request-form {background:#f7f6f6;}

.having-trouble-box {background:#f7f6f6;}

.page-pawp-nojs-form-second #user-login.pawp-error #edit-actions .btn-default{
	background: rgba(127,0,25,1);   background-color: #7f0019;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d20029), to(#7f0019));
    background-image: -webkit-linear-gradient(top, #d20029, #7f0019);
    background-image: -moz-linear-gradient(top, #d20029, #7f0019);
    background-image: -ms-linear-gradient(top, #d20029, #7f0019);
    background-image: -o-linear-gradient(top, #d20029, #7f0019);
    background-image: linear-gradient(to bottom, #d20029, #7f0019);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d20029, endColorstr=#7f0019);
}
form#user-login .form-item-remember-me span {background: url(../images/remember-me-sprite.png) no-repeat 0 -21px;}

.page-pawp.page-pawp-nojs-form .container-fluid{background:#000 url("../images/Home_Pay_As_We_Play_Takeover_1440x700.jpg") no-repeat top center scroll;}
.page-pawp.page-pawp-nojs-form.page-pawp-nojs-form-second .container-fluid{background:#000 url("../images/Home_Pay_As_We_Play_Landing_Page_1440x1024.jpg") no-repeat top center scroll;}
.page-pawp .container-fluid{background:#000 url("../images/pawp.jpg") no-repeat top center scroll;}

.page-node-116.node-type-webform  #webform-client-form-116 .form-actions a.no-thanks:hover{background: #002e66;}

body.page-invoice .container-fluid { background:#000 url("../images/invoice-mainbg.jpg") no-repeat top center scroll;}
.infoPanelwrap, .season-invoice-detail, .payment-amount-box, .thankyou-footer { background-color:rgba(97, 97, 97, 0.15);}

.amountduewrap {background-image:url("../images/invoice-bg-star.png"); background-repeat:no-repeat; background-position: 9% 0;}

.infoPanelwrap .dedicateserrep{background-color: rgba(0, 41, 91, 1);}

.payment-user-form-wrapper .form-group .DivSelectyze .selectyzeValue, 
.payment-user-form-wrapper .conf-email .selectyzeValue { background:#d9d9d9 url("../images/invoice-dropdown.png") no-repeat 0 0 scroll;}

.page-invoice-payment .main-wrap #block-system-main div.error ul{ list-style-image:url(../images/str-error.png);}

.page-invoice-payment .main-wrap #block-system-main div.error.inline-messages {background:url(../images/str-error.png) left center no-repeat;}

.node-type-benefits .container-fluid, .page-node-84 .container-fluid, .page-node-921 .container-fluid, .page-game-day-info .container-fluid, .page-menus .container-fluid, .page-press-releases .container-fluid, .page-stadium-maps .container-fluid, .page-club-map .container-fluid, .page-node-88 .container-fluid, .page-node-89 .container-fluid, .page-node-90 .container-fluid, .page-node-131 .container-fluid, body.node-type-video .container-fluid, .node-type-site-page .container-fluid, body.node-type-benefits .container-fluid, .node-type-tab-page .container-fluid, .node-type-pdf .container-fluid, .node-type-site-page-anon .container-fluid{ background:#000 url("../images/benefit-mainbg.jpg") no-repeat top center scroll;}

.node-type-contact-us .container-fluid{ background:#000 url("../images/contact-mainbg.jpg") no-repeat top center scroll;}

#block-views-acct-reps-block {background-color: rgba(57,63,150,0.75);}

.page-node-13 #node-13, .page-node-14 #node-14 {background: #f7f6f6;}

.page-pawp-nojs-form .promo-tile,
.page-pawp-nojs-form footer,
.page-node-116.node-type-webform .promo-tile{   background-color: #000;  opacity: .5; filter: alpha(opacity=50);  z-index: 100;}

.page-node-116.node-type-webform .container-fluid, .page-rsvp-success .container-fluid, .page-rsvp-error .container-fluid {background:#000 url("../images/rsvpmainbg.jpg") no-repeat top center scroll;}

.page-node-116.node-type-webform #webform-client-form-116 input {background:url(../images/rsvp-input-fld.png) repeat scroll 0 0 transparent;}

.page-node-116.node-type-webform #webform-client-form-116 .css3 .selectyzeValue {background:url(../images/rsvp-dpdw.png) no-repeat scroll 0 0 transparent;}

.page-node-116.node-type-webform #webform-client-form-116 .webform-component-select.select-error .css3 .selectyzeValue {background:url(../images/rsvp-dpdw-slt-er.png) no-repeat scroll 0 0 transparent;}

 .page-node-116.node-type-webform #webform-client-form-116 .css3 .UlSelectize{background-color: rgba(194,194,194,0.9);}
 
 .page-node-116.node-type-webform #webform-client-form-116 .webform-event-bg-wrapper{background:url(../images/content-mainbg.png) center bottom no-repeat;}
 
 .page-birthday-wishes .container-fluid{background:#000 url('../images/home-birthday-takeover.jpg') no-repeat top center scroll;}
 
 .main-wrap .highlighted{background:#3c3c3c;}
.home-tgl span.bg{background-color:#3c3c3c;}

.main-wrap ul.tabs--primary{background:#3c3c3c;}

.amountduewrap, .payment-user-form-wrapper, .payment-thankyou-wrapper, .payment-unsuccessful {background-color:rgba(158, 158, 158, 0.35);}

.page-node-13 #node-13, .page-node-14 #node-14 {background: #f7f6f6;}

.home-tgl{background:#3c3c3c;}

.main-wrap .tabs-wrap-primary-user button.view-versions-btn, .main-wrap .tabs-wrap-primary-user button.publish-btn {background:#333333;}

.main-wrap ul.tabs-primary-live li a:hover{background-color:#89c403;}
.main-wrap ul.tabs-primary-live li a.active:hover{background-color: #0183e5;}
.main-wrap ul.tabs-primary-live li a.active{background-color: #0183e5;}
.main-wrap ul.tabs-primary-live li a:focus{background-color: #0183e5;}

.quickedit-button{background-image:-webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);background-image:-o-linear-gradient(top,#fff 0,#e0e0e0 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));background-image:linear-gradient(to bottom,#fff 0,#e0e0e0 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background-repeat:repeat-x;}
.quickedit-button:hover, .quickedit-button:focus {background-color: #e0e0e0; background-position: 0 -15px;}

.quickedit-button.action-save{background-image:-webkit-linear-gradient(top,#428bca 0,#2d6ca2 100%);background-image:-o-linear-gradient(top,#428bca 0,#2d6ca2 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#428bca),to(#2d6ca2));background-image:linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background-repeat:repeat-x;}
.quickedit-button.action-save:hover, .quickedit-button.action-save:focus {background-color: #2d6ca2; background-position: 0 -15px;}
.quickedit-toolbar-container .quickedit-button.action-cancel{background-color:#e0e0e0;}

.node.node-site-page .draggable a.tabledrag-handle{background: #F3F3F3;}


.node.node-site-page .table>thead>tr>th, .node.node-site-page .table>tbody>tr>th, .node.node-site-page .table>tfoot>tr>th, .node.node-site-page .table>thead>tr>td, .node.node-site-page .table>tbody>tr>td, .node.node-site-page .table>tfoot>tr>td, .node.node-site-page .table-striped>tbody>tr:nth-child(odd)>td, .node.node-site-page .table-striped>tbody>tr:nth-child(odd)>th {background-color:#000;}

#block-views-tab-pages-block ul.nav-tabs li a:hover, #block-views-tab-pages-block ul.nav-tabs li.active a {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);}

#block-views-tab-pages-block ul.nav-tabs li a { background:none;}

#block-views-tab-pages-block ul.nav-tabs{
background: -moz-linear-gradient(top,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,.75) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,.75) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,.75) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,.75) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,.75) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF000000', endColorstr='#BF000000',GradientType=0 ); /* IE6-8 */
}

#modal_bootstrap .modal-header {background:#0f1114;}

#modal_bootstrap .pptic-evt .closePopup{background: url("../images/btnClose.png") no-repeat 0 0;}

.main-wrap ul.tabs-primary-live li.view a.active, .main-wrap ul.tabs-primary-live li.edit a.active{background-color: #0183e5;}

.table-responsive a.tabledrag-handle .handle, .node.node-site-page .draggable a.tabledrag-handle .handle{background-position:6px 6px;}

.table-responsive a.tabledrag-handle-hover .handle, .node.node-site-page .draggable a.tabledrag-handle-hover .handle { background-position:6px -14px;}



/*-----------main.css---------------*/
/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */


body.page-my-calendar .container-fluid, body.page-calendar .container-fluid, .page-season-schedule .container-fluid, .page-full-calendar .container-fluid, body.page-node-87 .container-fluid, body.page-node-86 .container-fluid{ background:#000 url("../images/calendermain-bg.jpg") no-repeat top center scroll;}

body.node-type-page .container-fluid{background:#000 url("../images/benefit-mainbg.jpg") no-repeat top center scroll;}

.sth-calendar .calendar-calendar thead tr, .sth-calendar .calendar-calendar th.days, .sth-calendar .month-view .full td.single-day.empty, 
.sth-calendar .month-view .full td.date-box.empty {background:none repeat scroll 0 0 rgba(0, 0, 0, 0);}

.view-header .pager li.date-prev > a, .view-header .pager li.date-next > a,
#block-views-acct-reps-block .view-acct-reps a.left,
#block-views-acct-reps-block .view-acct-reps a.right {background:url(../images/cal-nxt-pre.png) 2px 0 no-repeat transparent;}

.view-header .pager li.date-next > a, #block-views-acct-reps-block .view-acct-reps a.right { background-position:-48px 0px;}
.noTouch .sth-calendar .pager li.date-prev > a:hover, .noTouch #block-views-acct-reps-block .view-acct-reps a.left:hover{background-position:2px -64px;} 
.noTouch .sth-calendar .pager li.date-next > a:hover, .noTouch #block-views-acct-reps-block .view-acct-reps a.right:hover{background-position:-48px -64px;}

.sth-cal-poup .pouptopwrap{background:#039;}

.pouptopwrap .sthevent-image .more-info, .pouptopwrap .sthevent-image .rsvp-form,
.sthevent-body.openpop, .sthevent-form.openpop{/*background:url(../images/bgPopupBlue.png) 0 0 repeat transparent;*/background:rgba(25,25,25,0.8);}
.pouptopwrap .upArrow > div, .event-gallary-big-box .upArrow > div{background: url("../images/upArrow.png") 0 0 transparent no-repeat;}

.calendar-calendar .pptic-evt .closePopup,
.event-gallary-big-box .pptic-evt .closePopup,
#colorbox .pptic-evt .closePopup{
    background: url("../images/btnClose.png") 0 0 transparent no-repeat;
}

.calendar-calendar .single-day td .inner,
.calendar-calendar .single-day.no-entry.future .inner,
.calendar-calendar .single-day.future.empty .inner{
    background:url(../images/calenderbg.png) 0 0 repeat transparent;
}

.calendar-calendar .single-day.future.game-home .inner,
.calendar-calendar .single-day.today.game-home .inner,
.calendar-calendar .single-day.past.game-home .inner{
    background: url(../images/calenderHomeBg.png) 0 0 repeat transparent;
}

.calendar-calendar .single-day.future.game-away .inner,
.calendar-calendar .single-day.today.game-away .inner,
.calendar-calendar .single-day.past.game-away .inner{
    background: url(../images/calenderAwayBg.png) 0 0 repeat transparent;
   }
   
 .calendar-legend{
    background: url(../images/calenderbg.png) 0 0 repeat transparent; width: 994px; z-index: 10; margin-bottom: 38px;
}
.calendar-legend .cal-home-legend {
    background: url(../images/bg-home-legend.png) no-repeat 0 0;
}
.calendar-legend .cal-event-legend {
    background: url(../images/bg-event-legend.png) no-repeat 0 0;
}
.calendar-legend .cal-away-legend {
    background: url(../images/bg-away-legend.png) no-repeat 0 0;
}

body.node-type-event .carousel-control{background:  transparent url('../images/event-carousel.png') 0 0 no-repeat;}

body.node-type-event .carousel-control.left{background-position: 0 0;}
body.node-type-event .carousel-control.left:hover{background-position: 0 -70px;;}
body.node-type-event .carousel-control.right{background-position: -45px 0;}
body.node-type-event .carousel-control.right:hover{background-position: -45px -70px;}

.calendar-calendar .modal-header,
.event-gallary-big-box .modal-header,
#colorbox .modal-header{background-color: #001836;}

.event-gallary-big-box .modal-header{/*background: transparent url("../images/eventHeaderBg.png") 0 0 repeat;*/background:rgba(25,25,25,1.0);}
body.node-type-event .container-fluid{    background: #000 url("../images/event-bg.jpg") no-repeat top center scroll;}

.event-gallary-thumb-slider .view-event-slider .view-header .buttons{background: url(../images/event-thumbSlider.png) repeat-x 0 0;}

.event-gallary-thumb-slider .view-event-slider .view-header .buttons.next{background-position: -28px 0;}

.event-gallary-thumb-slider .view-event-slider .view-content ul .views-row .tilehead{/*background: url(../images/eventBgThumb.png) repeat-x 0 0;background:rgba(25,25,25,0.8);*/
background: rgb(103,59,184); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0NjUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM2NzNCQjgiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyOTE4NEEiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0NjUpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(103,59,184,0.9) 0%, rgba(93,53,166,0.9) 40%, rgba(78,44,139,0.9) 50%, rgba(51,29,92,0.9) 75%), rgba(41,24,74,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(103,59,184,0.9)), color-stop(40%,rgba(93,53,166,0.9)), color-stop(50%,rgba(78,44,139,0.9)), color-stop(75%,rgba(51,29,92,0.9)), color-stop(100%,rgba(41,24,74,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(103,59,184,0.9) 0%, rgba(93,53,166,0.9) 40%, rgba(78,44,139,0.9) 50%, rgba(51,29,92,0.9) 75%), rgba(41,24,74,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(103,59,184,0.9) 0%, rgba(93,53,166,0.9) 40%, rgba(78,44,139,0.9) 50%, rgba(51,29,92,0.9) 75%), rgba(41,24,74,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(103,59,184,0.9) 0%, rgba(93,53,166,0.9) 40%, rgba(78,44,139,0.9) 50%, rgba(51,29,92,0.9) 75%), rgba(41,24,74,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(103,59,184,0.9) 0%, rgba(93,53,166,0.9) 40%, rgba(78,44,139,0.9) 50%, rgba(51,29,92,0.9) 75%), rgba(41,24,74,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5673BB8', endColorstr='#E529184A',GradientType=0 ); /* IE6-8 */
}
.countDiv:before, .countDiv:after{background-color: #fff;}

#user-login.pawp-thank > #edit-actions > button.btn-default{
    background: rgba(0, 41, 91, 1);
    background-color: #00479E;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00479E), to(#001938));
    background-image: -webkit-linear-gradient(top, #00479E, #001938);
    background-image: -moz-linear-gradient(top, #00479E, #001938);
    background-image: -ms-linear-gradient(top, #00479E, #001938);
    background-image: -o-linear-gradient(top, #00479E, #001938);
    background-image: linear-gradient(to bottom, #00479E, #001938);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00479E, endColorstr=#001938); 
}



/*-----------inline-edit.css---------------*/
/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */

.promo-link-edit {background:rgba(0, 0, 0, 0.55) url(../images/image_edit.png) center center no-repeat;}
#modalContent .indication-popup{background:#3c3c3c;}
.indication-popup .modal-content{ background-color:#3c3c3c;}

#modalContent .indication-popup .modal-header {background-color:#252525;}
#modalContent .indication-popup .modal-header .popups-close .close{background:url(../images/btnClose.png) 0 0 no-repeat;}

.bottom-promo-tile .tile-image-form{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #c6c6c6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c6c6c6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#c6c6c6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#c6c6c6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#c6c6c6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#c6c6c6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
}

.bottom-promo-tile .tile-image-form .title .titletxt{background:url(../images/pencil.svg) 0 0px no-repeat;}
.bottom-promo-tile .tile-image-form .title .popup-close{background:url(../images/ex.svg) 0 0 no-repeat;}
.bottom-promo-tile .node-form > div .form-actions .btn-success {background:#004395;}
.bottom-promo-tile .edit-toolbar-pointer {background:url(../images/tooltrip.png) 0 0px no-repeat;}

.field-type-image button.btn-default, .field-type-file button.btn-default{background: #64b231; /* Old browsers */
background: -moz-linear-gradient(top,  #64b231 2%, #b3ff8a 2%, #b3ff8a 3%, #70c100 5%, #70c100 5%, #359a00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#64b231), color-stop(2%,#b3ff8a), color-stop(3%,#b3ff8a), color-stop(5%,#70c100), color-stop(5%,#70c100), color-stop(100%,#359a00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #64b231 2%,#b3ff8a 2%,#b3ff8a 3%,#70c100 5%,#70c100 5%,#359a00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #64b231 2%,#b3ff8a 2%,#b3ff8a 3%,#70c100 5%,#70c100 5%,#359a00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #64b231 2%,#b3ff8a 2%,#b3ff8a 3%,#70c100 5%,#70c100 5%,#359a00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #64b231 2%,#b3ff8a 2%,#b3ff8a 3%,#70c100 5%,#70c100 5%,#359a00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64b231', endColorstr='#359a00',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: #3D9403 1px 1px 1px inset;-moz-box-shadow: #3D9403 1px 1px 1px inset; box-shadow: #3D9403 1px 1px 1px inset;
}

.bottom-promo-tile .tile-image-form  .node-promo_tile-form .field-name-field-image .image-widget-data .imageeditor div.aviary-feather{background:url(../images/edt-btn.png) 0 0px no-repeat;}
.modal-header{border-bottom:0px;}

.page-season-schedule .list-view .view-content .panel-group .panel-heading {
background:rgba(69,69,69);
-webkit-box-shadow:rgba(255,255,255,0.7) 0px 1px 0px inset;
-moz-box-shadow:rgba(255,255,255,0.7) 0px 1px 0px inset;
box-shadow:rgba(255,255,255,0.7) 0px 1px 0px inset;
text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgba(69,69,69,1.0) 0%, rgba(7,7,7,1.0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,69,69,1.0)), color-stop(100%,rgba(7,7,7,1.0)));
background: -webkit-linear-gradient(top, rgba(69,69,69,1.0) 0%,rgba(7,7,7,1.0) 100%);
background: -o-linear-gradient(top, rgba(69,69,69,1.0) 0%,rgba(7,7,7,1.0) 100%);
background: -ms-linear-gradient(top, rgba(69,69,69,1.0) 0%,rgba(7,7,7,1.0) 100%);
background: linear-gradient(to bottom, rgba(69,69,69,1.0) 0%,rgba(7,7,7,1.0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#070707',GradientType=0 );}

.view-header .pager li.date-next > a:hover, #block-views-acct-reps-block .view-acct-reps a.right:hover{background-position:-48px -64px;}
.view-header .pager li.date-prev > a:hover{background-position:2px -64px;}

body.page-node-1061 .container-fluid{background:#000 url("../images/benefit-mainbg-page.jpg") no-repeat top center scroll;}

body.page-node-1067 .container-fluid{background:#000 url("../images/benefit-mainbg-page.jpg") no-repeat top center scroll;}

form.webform-client-form{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjklIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuODEiLz4KICAgIDxzdG9wIG9mZnNldD0iODklIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 1%, rgba(0,0,0,0.60) 69%, rgba(0,0,0,0.55) 89%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(1%,rgba(0,0,0,0.75)), color-stop(69%,rgba(0,0,0,0.60)), color-stop(89%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 1%,rgba(0,0,0,0.60) 69%,rgba(0,0,0,0.55) 89%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 1%,rgba(0,0,0,0.60) 69%,rgba(0,0,0,0.55) 89%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 1%,rgba(0,0,0,0.60) 69%,rgba(0,0,0,0.55) 89%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 1%,rgba(0,0,0,0.60) 69%,rgba(0,0,0,0.55) 89%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BF000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}

