

body {
behavior: url(PIE.htc);
 font-family:'oswaldregular', Arial, sans-serif;}
#skip-link{display: none;}
a:focus {outline: none;}
h1, h2, h3, h4, h5, h6 {text-transform:uppercase; font-family:'oswaldregular', Arial, sans-serif;}
.front .container h1, .page-home .container h1 {font-size:3.714em; letter-spacing: 0.12em;}
.container a.click-here {font-weight:bold;text-decoration:underline;}
.container-fluid .page-header {text-align:center;text-transform:uppercase;border-bottom:none;letter-spacing:.0444em;line-height:1em;margin-top:35px; padding-bottom:5px;}
.container-fluid{padding-left:0; padding-right:0;}
.container.main-wrap p, .page-press-releases .main-wrap .view-press-releases ul li, .node-type-contact-us .infoconttxt ul li{font-family:Arial, Helvetica, sans-serif;/*line-height:21px;*/}
.field-items h4{line-height:25px;}
.navbar-default, .navbar-default .dropdown-menu, .form-control {-moz-border-radius:0px; -webkit-border-radius:0px; border-radius:0px;}
.btn-default, .btn-light{padding:8px 10px 5px 18px;}
.container a.cnt-btm {padding:8px 12px 8px 12px; text-decoration:none; font-family:'oswaldregular', Arial, sans-serif; border:1px solid #755590;}
.not-front .container-fluid .page-header{color:#c4c4c4;}
.btn-default, .button_blue a{text-decoration:none;display:inline-block;font-size:1.05em;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;color:#ffffff;}
.btn i.fa-chevron-right{font-size:14px; line-height: 1.8em; vertical-align: top; padding-left:8px;}
.has-feedback .form-control-feedback { top:6px; width: 20px;height:20px;line-height:20px; font-size:.6em;}
/* Top Novigation start here */
.container-fluid{max-width: 1440px; margin:0 auto;  position:relative;}
.navbar-default {min-height:42px;border:none;margin-left:53px; font-size:1.0714em;}
.navbar-default .navbar-collapse {padding-left:80px;}
.navbar-default .navbar-nav > li, .navbar-default .dropdown { position:inherit}
.navbar-nav > li > a, .nav > li > a {padding:10px 15px 10px 15px; line-height:20px;}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
.navbar-default .nav > li > a, .navbar-default .nav > li > a:hover, .navbar-default .navbar-nav>li>a:focus { color:#fff; text-transform:uppercase; letter-spacing:.0252em;border: 1px solid transparent;}
.dropdown-menu{padding: 3px 0 !important;}
.dropdown-menu>li>a{padding:9px 15px; margin-right: 3px;}
.dropdown-menu>li>a:last-child{margin-right: 0;}
.navbar-nav > li.expanded ul li.leaf{float:left;}
.navbar-nav > li.expanded ul li.leaf.first{margin-left:55px;}
.navbar .navbar-brand{left:-44px;top:-45px;padding:0;z-index:9999;position:absolute;outline:none;}
.navbar-default .dropdown-menu{width:100%;/*min-height:55px;*/padding:0!important;border:0;z-index:10;}
.calendar-legend .calendar-legend-right > li a{text-transform:uppercase;letter-spacing:.0252em;border:1px solid transparent;width:100%;text-align:center;font-family:'Arial',Helvetica, Sans-serif;font-size:1.0714em;font-weight:bold;text-decoration:none;}
#webform-client-form-116 .form-actions button{padding-left: 35px;padding-right: 35px; font-size: 1.2857em;}
#custom-pawp-sign-up .btn.btn-default{ text-decoration:none; display:inline-block; }

.modal-open, .modal-close{overflow: auto;}
.navbar-default .dropdown:hover .dropdown-menu {display: block; padding:0; }
.navbar-default .navbar-right .region-user-info section.block { float:right;}
#block-custom-block-user-info { padding:15px 18px 8px 0; font-size:1.0714em; line-height:18px; text-align:right;}
.navbar-default ul li .caret { display:none;}
#block-system-user-menu ul.menu .dropdown-menu { margin:0;}
.navbar-default #block-system-user-menu .dropdown-menu li.leaf { float:right;}
.not-logged-in .navbar-default { margin-top:40px;}	
/* Top Novigation end here */
/* Homepage middle content start here */
.view-id-home {max-width:986px; margin: 0 auto;}
.container .jumbotron { background: none; padding-top:40px;}
.container .jumbotron p, .container .jumbotron h1  { text-align:center; text-transform:uppercase;}
.container .jumbotron p, #custom-pawp-sign-up .parking-promo-heading{ font-size:1.57em; letter-spacing:1.4px; margin-bottom: 10px;}
/* Homepage middle content End here */
 /* Next Game Start here */
.home-nextgamebg{ height:66px; position: absolute;bottom: 0;clear:both; }
.home-nextgamebg > .container{padding: 0;}
.home-nextgamebg .nextgamevs{ margin:0 auto; display: table; width: 994px;}
.home-nextgamebg .nextgametx{ font-size:1.4285em; display: table-cell; vertical-align: middle; text-transform:uppercase; }
.home-nextgamebg .nextgametx > a{ text-decoration:underline;}
.home-nextgamebg .field-type-image { float:left; display:inline-block; margin:4px 18px 2px 18px;}
/* Next Game End here */
/* Footer Start here */
.promo-tile{ max-width:1440px; margin:0 auto; }
.promo-tile .row{ padding-top:15px; padding-bottom:15px; }
.promo-tile  .promo-box { display:block;  height:193px; overflow:hidden; border:1px solid #616161;position:relative;   }
.promo-tile  .promo-box .promo-link .field-type-image img{ max-width:none;}
.promo-tile .promo-box .promo-countdown{position: absolute; top:50px; left: 10px; right: 10px; bottom: 10px;}
.countdown-promo-tile-days{ width: 41%; height: 133px; float: left; font-size: 5.5714em; text-align: center; line-height: 1.2em; position: relative;}
.countdown-promo-tile-days > span.timer-day{font-size: 1em; height: 85px; display: block; line-height: inherit;}
.countdown-promo-tile-days > span{font-size: 36px; text-transform: uppercase; height: 25px; display: block; line-height: 1.1em;}
.countdown-promo-tile-title{ font-size: 2.35em; width: 58%; float: left; padding-left: 10px; line-height: 1.35em; overflow: hidden; padding-top: 0.75em;}
.promo-tile .tilehead{ position:absolute; left:0; top:0; width:100%; z-index:9; min-height:41px;}
.promo-tile .carousel{height: 190px; width: 100%; display: inline-block; overflow-y: hidden;}
.promo-tile .tilehead span{padding-top:9px;display:block; font-size:1.428em; letter-spacing:1px; text-align: center; text-transform:uppercase;}
#block-custom-social-feed-custom-social-feed .tilehead span{text-align: left; padding-left: 15px; text-transform:uppercase;}
.promo-tile .tilehead a.social{ float:right;width:1.888em; display:inline-block; padding: .3em .0em .35em .465em; font-size: 1.1em; line-height: 2em; /*border-left:solid 1px #3a3b3f;*/ border-left:1px solid rgba(255,255,255,0.25);}
.promo-tile .feed-details {margin-top:66px; margin-left:10%; float:left; position:relative; width:78%; z-index: 999; font-family:Arial, oswaldregular, sans-serif;}
.promo-tile .feed-details .feed-logo{ float:left; display:inline-block; margin-right:12px;}
.promo-tile .feed-details .feedtime{ float:left; margin-top:10px; font-size:0.65em; font-weight:bold;}
.promo-tile .feed-details .feedtex{ float:left;margin-top:20px;font-size:0.65em;font-weight:bold; line-height: 1.2em; width:100%; clear:both;}
.promo-tile .feed-details .feedtex .text-white{text-decoration:none;}
.footer-copyright{ padding-top:32px; padding-bottom:32px;}
.footer-copyright .ticket-cloud{ width:100%;text-align: center; margin-bottom:8px; display: none;}
.footer-copyright .copyright{width:64%;font-size:9px;text-align:left;font-family: Arial, Helvetica, sans-serif;font-weight:bold;float:right;padding:10px 0 10px 15px;border-left:1px solid rgba(113, 113, 113, 0.2);margin-left:15px;color:#717171;}
.btn-logo{text-align:right;padding-top:5px;}
.promo-tile .promo-box.regular a.promo-link:hover .second {width:100%; min-height:195px; position: absolute; top:2px; left: 0; z-index:98;}
.promo-box .feed-details.item{display: none;}
.promo-box .feed-details.item.active{display: block;}
/* Footer End here */

/* Global CSS Start here */
.infohourbg, .page-node-27 #node-27, .page-node-14 #node-14, .view-press-releases, .main-wrap .region-content .node, .main-wrap .region-content .node-video .field-name-field-bottom-content { padding:5px 22px 22px 22px; }
.main-wrap .region-content .view-video-library .node .field-items .field-item p:last-child{text-align: center; margin-bottom: 0;}
#block-views-acct-reps-block .node, body.front .main-wrap .node, body.page-home .main-wrap .node { background:none; border:none; padding:0; }
.front h1.page-header, .page-home h1.page-header, .page-node-31 .page-header, .page-my-calendar .page-header, .page-full-calendar h1.page-header, .view-tab-pages .node header, .page-calendar h1.page-header {display:none;}
.page-user .page-header {visibility:hidden;}
#block-views-acct-reps-block .imgpics img, .infoPanelwrap .dedicateserrep .imgpics img{-moz-border-radius:50%; -webkit-border-radius:50%; border-radius: 50%;}
.container .fa-3 { font-size:3em;}
body.front .container-fluid, body.page-home .container-fluid{position: relative;	height: 100%;padding:0;}
.container-fluid .heroHolder{    max-height: 700px;    position: relative;    float: left;    width: 100%;    height: 100%;    min-height: 525px;}
body.front #billboard,  body.page-home #billboard {	
    height: 100%;    position: absolute;    top: 0;    right: 0;    left: 0;    overflow: hidden;}
html, body.front, body.page-home{	height: 100%;}

body.front .hero, body.page-home .hero{ background-size: 1440px auto;	min-height:525px;    margin:auto;    position:absolute;    top:0;    right:0;    bottom:0;    left:0;      padding: 0;}
body.front .mainNavigation, body.pahe-home .mainNavigation, body .username{	max-width:1024px;	margin: 0 auto;	float:none;}
body.not-front .container-fluid header{    max-width: 994px;    margin: 0 auto;     z-index: 0;    position: relative;}
body.not-front .container-fluid > section.main-wrap{    max-width: 1024px;}
/*Video Player CSS Starts Here*/
.vjs-default-skin .vjs-big-play-button{/*border-radius:50%;width:153px;height:153px;left:40%;top:36%;font-size:4em;*/border-radius:0;width:100px;height:100px;left:44%;top:42%;font-size:0;float:left;background:url('../images/video_play_button1.png') no-repeat;}
.vjs-default-skin .vjs-big-play-button:before{    line-height: 1.3em;    left: 13px;    top: -1px;    text-shadow: none;}
.vjs-default-skin .vjs-menu-button{    display: none;}
.vjs-default-skin .vjs-big-play-button:before{font-family: 'VideoJS',Arial,Helvetica;}
/*Video Player CSS Ends Here*/
    
/* Video Page CSS Starts Here */
.field-widget-file-generic .form-type-managed-file .form-managed-file img { vertical-align:inherit;}
#videojs-110-field-video-video, .node-type-video .node-video .vjs-default-skin{ min-width: 100% !important;	margin:auto;}
.video-js{/*border:0 !important;*/}
.main-wrap .region-content .node-video .field-name-field-bottom-content{    margin-top: 25px;	padding-top:22px;}
.node-type-video .main-wrap .region-content .node-video{background: none; padding: 0;}
/* Video Page CSS Ends Here */

/* Wish Page CSS Starts Here */
.page-node-wish .container .jumbotron h1, .page-node-wish .container .jumbotron p{margin: 0 auto; text-transform: none;}
.page-node-wish .container .jumbotron h1{width: 460px; line-height: 1.15em;}
.page-node-wish .container .jumbotron p{}
/* Wish Page CSS Ends Here */

/* Home Page & Inner page img src CSS Starts Here*/
.bg-holder, .bg-inner-holder{position: absolute; z-index: -100; bottom: 0;      text-align:center;}
.bg-inner-holder > img{width: 100%;}
.bg-holder > img{display: block; margin: auto;}

article.move-np.node-benefits .field-item.content{    height: 550px;    position: absolute;    top: 0;    left: 0;}
article.move-np.node-benefits .field .field-items{    height: 615px;    overflow-x: hidden;    position: relative;}
.bg-holder, .bg-inner-holder{    top: auto;}
.demo.demo1{    position: absolute;    bottom: 0;    left: 45%;    text-align: center;}
.container.main-wrap p.demo.demo1, .demo.demo1 .pgnum, .demo.demo1 .maxpg{font-family: 'oswaldregular', Arial, sans-serif; padding-left: 2px; padding-right: 2px;}
article.move-np.node-benefits .field .field-items .field-item{display: none;}
article.move-np .field .field-items .field-item.active{display: block;}
div.next-previous, div.next-previous div.next, div.next-previous div.previous{display: none; cursor:pointer;}
.next-previous{  position: absolute;    width: 100%;    top:40%;    width: 994px;}
.next-previous .next, .next-previous .previous{   width: 55px; height: 86px; z-index:99; position: absolute; }
.next-previous .previous{left: 0;} .next-previous .next{right: 0; }
/* Pagination CSS Ends Here*/
/* Spotlight CSS Ends Here*/
#node-38 p.text-center > img{width: 48%;}
.vjs-paused .vjs-big-play-button {/*display: block !important; */}
.vjs-lock-showing{z-index: 100;}
div.view-event-slider{height:95px; position: relative; }

/*body{min-width:1024px;}*/
/*  Video Pop Up  */
body.page-home .container-fluid #myModal{background:rgba(0,0,0,0.6);}
body.page-home .container-fluid .modal-header{padding:0px;}
body.page-home .container-fluid .modal-header .close{/*background:url('../images/cancel-pop-up.png') no-repeat center center #000000;border-radius:50%;-o-border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;cursor:pointer;float:left; width:30px; height:30px;padding:20px;outline:none;*/position: absolute;
top:20px;
right:20px;
display: block;
background: url(/sites/all/themes/sports/images/colorbox/controls.png) no-repeat top center;
width:15px;
height:15px; opacity:1.0; outline:none;
text-indent: -9999px;}
.field-name-field-video {
border: 2px solid #717174;
background-color: #000;
}
#colorbox #cboxContent #cboxClose {
width: 15px;
height: 15px;
background-position: -41px -2px;
}
body.page-home .container-fluid .modal-header .close{background-color:#222222;}
body.page-home .container-fluid .modal-header .close span{display:none;}
body.page-home .container-fluid .modal-dialog{position:fixed;top:50%;left:50%;margin-top:-251px;margin-left:-494px;}
body.page-home .container-fluid .modal.fade.in{z-index:99999;}
body.page-home .container-fluid .video-js{width:100%!important;}
body.page-home .container-fluid .modal-header{position:absolute;z-index:9;background:rgba(255,255,255,0.15);border-radius:50%;-o-border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;right:-21px;top:-13px;}
