.field-type-image .form-item div.image-widget-data{float:inherit;}
.page-calendar .container-fluid, .page-my-calendar .container-fluid{background-color:#381952!important;}
.calendar-calendar .month-view .full tr.single-day .game-away .cal-team-name, .calendar-calendar .month-view .full tr.single-day .game-away .cal-time{color:#D1D4D9;}