/** Calender Page Start here **/
body.page-my-calendar .container-fluid, body.page-calendar .container-fluid, .page-season-schedule .container-fluid, .page-full-calendar .container-fluid, body.page-node-87 .container-fluid, body.page-node-86 .container-fluid{ background:#381952 url("../images/calendermain-bg.jpg") no-repeat top center scroll;}
.sth-calendar, .page-season-schedule .list-view {margin-top:35px;}
.page-season-schedule .list-view { float:left; width:100%; margin-bottom:35px;}
.view-header{ position:relative;}
 .view-header > ul{ position:absolute; left:0; top:0; z-index:9;padding-left:0;}
.view-header > ul li{ margin:0; padding:0; float:left; list-style:none;}
.view-header > ul li:first-child{ border-right:1px solid #9e9e9e;}
.view-header > ul li.active{ padding:10px 20px; text-decoration:underline; color:#fff;}
.view-header > ul li a{display:inline-block;padding:10px 20px;color:#9e9e9e;text-decoration:none;text-shadow:0px 1px 0 rgba(0,0,0,1);-o-text-shadow:0px 1px 0 rgba(0,0,0,1);-webkit-text-shadow:0px 1px 0 rgba(0,0,0,1);-moz-text-shadow:0px 1px 0 rgba(0,0,0,1);}
.sth-calendar .date-nav-wrapper .date-nav, .page-season-schedule .date-nav-wrapper .date-nav  { margin-bottom:0; padding-bottom:0; width:42%; background-color: transparent;
border: 0px; margin:0 auto; height: auto;
min-height: 30px;
position: relative;}
.calendar-calendar td, .calendar-calendar th.days, .calendar-calendar td.empty {border:1px solid #778087;}
.sth-calendar .calendar-calendar thead tr, .sth-calendar .calendar-calendar th.days, .sth-calendar .month-view .full td.single-day.empty, 
.sth-calendar .month-view .full td.date-box.empty {background:none repeat scroll 0 0 rgba(0, 0, 0, 0); font-size:1.41em; color: #cdd0d2; font-weight:normal;  text-transform: uppercase;}
.view-header .date-nav-wrapper .date-heading{position: relative;width: 100%;top: 0px;text-align: center;z-index: 0;}
.view-header .date-nav-wrapper .date-heading h3{line-height:1em;font-size:2.6em;font-weight:normal;text-transform:uppercase;margin:0;padding:0;color:#c8c8c8;}
.view-header .pager { float:left; margin:17px 0;}
.view-header .date-nav-wrapper li.date-prev, .view-header .date-nav-wrapper li.date-next { background:none; padding:0px; top:-19px;}
.view-header .pager li.date-prev > a, .view-header .pager li.date-next > a,
#block-views-acct-reps-block .view-acct-reps a.left,
#block-views-acct-reps-block .view-acct-reps a.right {background:url(../images/cal-nxt-pre.png) 2px 0 no-repeat transparent; width:40px; height:60px; border:none; opacity:1; font-size:0px;  -webkit-transition:none; -moz-transition:none; transition:none; filter:none;}
#block-views-acct-reps-block .view-acct-reps a.left .icon-prev, #block-views-acct-reps-block .view-acct-reps a.right .icon-next { display:none;}
.view-header .pager li.date-next > a, #block-views-acct-reps-block .view-acct-reps a.right { background-position:-48px 0px;}
.noTouch .sth-calendar .pager li.date-prev > a:hover, .noTouch #block-views-acct-reps-block .view-acct-reps a.left:hover{background-position:2px -64px;} 
.noTouch .sth-calendar .pager li.date-next > a:hover, .noTouch #block-views-acct-reps-block .view-acct-reps a.right:hover{background-position:-48px -64px;}
.view-header .date-nav-wrapper .date-prev { left:0; right:inherit;}
.month-view > table{border-collapse: collapse;}
.sth-calendar table .date-box td { min-height:36px;     height: auto !important; height: 36px;}
.page-season-schedule .view-header .date-nav-wrapper li.date-prev {float: none; position: absolute; text-align: right; width: auto; z-index: 1; font-size: 12px;}
.page-season-schedule .view-header .date-nav-wrapper li.date-next{float: none;position: absolute;right: 0px;text-align: right;width: auto;z-index: 1;font-size: 12px;}
.page-season-schedule .list-view .view-content .panel-group{ width:100%; margin:0 auto 0px auto; padding:0; max-width:610px;}
/** Calender Page Modal Poup Start here */
.sth-cal-poup .pouptopwrap{ float:left; width:100%; background:#039;}
.team-info.event{    z-index: 99;    cursor: pointer;}
.pouptopwrap .sthevent-image .more-info, .pouptopwrap .sthevent-image .rsvp-form,
.sthevent-body.openpop, .sthevent-form.openpop{position:absolute;top:0;left:0;right:0;bottom:0;/*background:url(../images/bgPopupBlue.png) 0 0 repeat transparent;*/background:rgba(25,25,25,0.8);}
.pouptopwrap .sthevent-image .more-info,
.event-gallary-big-box .sthevent-image .more-info{font-size:14px;padding:80px 80px 17px 80px!important;z-index:15;display:none;}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose{display: none !important;}
#cboxLoadedContent, #cboxContent{background-color: transparent !important;}
#cboxLoadedContent{border: none !important;}
.pouptopwrap .sthevent-image .rsvp-form,
.event-gallary-big-box .sthevent-image .rsvp-form{ font-size: 1em;    font-family:Arial, Helvetica, sans-serif;    font-weight: normal;    z-index: 15;}
.move-np.node.node-webform{	padding: 80px 80px 17px 80px; }
.pouptopwrap .sthevent-image .rsvp-form > iframe{border: none; overflow: hidden;}
.pouptopwrap a.upArrow, .event-gallary-big-box a.upArrow{       width: 62px; height: 43px;    margin: 0 auto; bottom: 0;    position: absolute;    left: 47%; display:none;}
.pouptopwrap .upArrow > div, .event-gallary-big-box .upArrow > div{    visibility: visible; background: url("../images/upArrow.png") 0 0 transparent no-repeat;    width: 62px;    height: 43px;}
#webform-client-form-116 .webform-container-inline div.description{margin-top: 30px; font-size: 0.7142em;}
#webform-client-form-116 > iframe{width: 870px; height: 300px;}
#webform-client-form-116 > div > *{    margin-bottom: 7px;}
#webform-component-pre-game-field-passes .DivSelectyze:last-child,
#webform-component-post-game-field-passes .DivSelectyze:last-child,
#webform-component-dallas-cowboys-practice .DivSelectyze:last-child{ display: block;}
#webform-client-form-116 #webform-component-first-name,
#webform-client-form-116 #webform-component-account-number,
#webform-client-form-116 #webform-component-email-address,
#webform-client-form-116 #webform-component-company-name,
#webform-client-form-116 #webform-component-comment,
#webform-client-form-116 #webform-component-comments,
#webform-client-form-116 #webform-component-last-name,
#webform-client-form-116 #webform-component-pre-game-field-passes,
#webform-client-form-116 #webform-component-dallas-cowboys-practice,
#webform-client-form-116 #webform-component-post-game-field-passes,
#webform-client-form-116 #webform-component-pre-game-field-passes-2,
#webform-client-form-116 #webform-component-post-game-field-passes-2,
#webform-client-form-116 #webform-component-dallas-cowboys-practice-2{ float: left; width:200px; margin-left:50px; margin-right:50px;}
#webform-client-form-116 #webform-component-event-name{display: none;}
#webform-client-form-116 label{  float: left; width: 165px; }
#webform-client-form-116 input, #webform-client-form-116 select, #webform-client-form-116 .form-textarea-wrapper,
#webform-client-form-116 select option{  width:200px; padding: 3px 6px;}
#webform-client-form-116 .form-textarea-wrapper{padding: 0;}
#webform-client-form-116 .form-textarea-wrapper textarea{   height: 78px;    resize: none;}
#webform-client-form-116 input.error.form-control, #webform-client-form-116 textarea.error.form-control{    border:1px solid #cc092f; color: #555;}
.sthevent-form.rsvp-form.openpop div.error{display: none;}
.pouptopwrap .sthevent-image, .event-gallary-big-box .sthevent-image{position: relative;}
.event-gallary-big-box .sthevent-image{overflow-y: hidden;}
.pouptopwrap .sthevent-image img, .event-gallary-big-box .sthevent-image img{width: 988px; height: 450px;}
.event-gallary-big-box .sthevent-image img{height: 445px;}
.pouptopwrap .toplogolft, .pouptopwrap .topvscnt, .pouptopwrap .toplogorgt{ float:left; display:inline-block; text-align:center; /*margin-right: -1px;*/}
.pouptopwrap .vslogo{min-height:110px;margin-bottom:15px;display:inline-table;}
.pouptopwrap .ppcntname{clear:both;display:block;color:#fff;font-size:1.355em;}
.pouptopwrap .toplogolft, .pouptopwrap .toplogorgt{width:50%;}
.modal-body{padding:0;width:992px;height:auto;float:left;}
.modal-body img.img-responsive{width:100%;margin:0px;}
.pouptopwrap .topvscnt{ width:10%; font-size:3.333em; position: absolute; top: 47.5%; left: 443px; z-index: 100;}
.pouptopwrap .toplogolft:hover, .pouptopwrap .toplogorgt:hover{ text-decoration:none;}
#basicModalOverlay{}
.modal-content{    z-index: 100;}
.modal{    overflow: auto;}
.modal.fade.in{    width: 100%;    height: 100%;}
.modal-backdrop.in{}
.calendar-calendar .modal-dialog, #colorbox .modal-dialog{
    top:0;
    left: 0;
    width: 992px;    
    border:2px solid #949497; 
    margin: 0;
}
#cboxContent{margin-top: 0 !important;}
.calendar-calendar .modal-header a,
.event-gallary-big-box .modal-header a,
#colorbox .modal-header a{
    text-decoration: none;
    color: #9e9e9e;
	padding:15px; padding-right:0;
}


.calendar-calendar .poupatstud,
.event-gallary-big-box .poupatstud,
#colorbox .poupatstud{
    width:75%;
    float: left;
   
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}
.calendar-calendar .poupatstud > div,
.event-gallary-big-box .poupatstud > div,
#colorbox .poupatstud > div{
    float: left;
}
.calendar-calendar .poupatstud > span,
.event-gallary-big-box .poupatstud > span,
#colorbox .poupatstud > span{
    text-transform: uppercase;
}
.calendar-calendar .pptic-evt,
.event-gallary-big-box .pptic-evt,
#colorbox .pptic-evt{
    width:25%;
    float: left;
    text-align: right;
    font-size: 0.85em;
    text-transform: uppercase;
}
.calendar-calendar .pptic-evt a.active,
#colorbox .pptic-evt a.active,
.event-gallary-big-box .modal-header .pptic-evt a.active{
    color: #fff;
    text-decoration: underline;
}


.calendar-calendar .pptic-evt .mgTicket,
.event-gallary-big-box .pptic-evt .mgTicket,
#colorbox .pptic-evt .mgTicket{
    border-right: 1px solid grey;
}

.calendar-calendar .pptic-evt .mgTicket:nth-last-child(2),
.event-gallary-big-box .pptic-evt .mgTicket:nth-last-child(2),
#colorbox .pptic-evt .mgTicket:nth-last-child(2){
    border: none;
}


.calendar-calendar .pptic-evt .closePopup,
.event-gallary-big-box .pptic-evt .closePopup,
#colorbox .pptic-evt .closePopup{
    background: url("../images/btnClose.png") 0 0 transparent no-repeat; width: 29px; height: 28px; cursor: pointer;
}
.calendar-calendar .pptic-evt > div,
.event-gallary-big-box .pptic-evt > div,
#colorbox .pptic-evt > div{
    display: inline-block;
    padding: 0 15px;
}
.calendar-calendar .pptic-evt .closePopup, #colorbox .pptic-evt .closePopup{ display:inline-block; margin-bottom:-5px;}
.event-gallary-big-box .pptic-evt > div:last-child{padding-right: 0;}
.container-fluid .view-content .game-popup {
    position: absolute;   
}

.calendar-calendar .month-view .full td.date-box .inner, .calendar-calendar .week-view .full td.date-box .inner{
    float: left;
}
.calendar-calendar .month-view .full td.single-day .inner div > img{
    width: 140px;
    height: 107px;
}


.calendar-calendar .month-view .full td.single-day .inner div .team-info.event img{width: 18px; height:17px; margin-top:28px; position:absolute; z-index:9999;}
.calendar-calendar .month-view .full td.single-day .inner div .field-item{height: 107px;}
.calendar-calendar td{ color: #001836;}
.calendar-calendar .cal-team-name{width: 45%; float: left; bottom: 0; position: absolute; font-size: 1.75em; padding: 0 3px !important; color: #D1D4D9; font-weight: normal;}
.calendar-calendar .cal-time{width: 55%; float: right; text-align: right; bottom: 0; right: 0; position: absolute; font-size: 1.75em; padding: 0 3px !important; color: #D1D4D9; font-weight: normal;}

.calendar-calendar .month-view .full tr.single-day .game-away .cal-team-name,
.calendar-calendar .month-view .full tr.single-day .game-away .cal-time{color: #001836; font-weight: normal;}

.calendar-calendar .month-view .full td, .calendar-calendar .week-view .full td, .calendar-calendar .day-view td{padding: 0;}
.calendar-calendar .month-view .full td .inner div.day, .calendar-calendar .month-view .full td .inner div.day a{text-align: left; padding-left: 6px; font-size: 1.285em;}
.sth-calendar .month-view .full td.date-box.empty .month.day{padding: 0 5px; display: none;}
.sth-calendar .month-view .full td.date-box.empty{padding-top: 0;}
.calendar-calendar .field-item {height: 28px;}
.calendar-calendar .month-view .date-box > td{height: 40px !important;}
.calendar-calendar .month-view .full tr.single-day.single-day > td{height: 71px !important;}
.calendar-calendar .month-view .full td.game-home .inner div.day { color:#cdd0d2;}

.calendar-calendar .month-view .full tr.single-day.single-day > td .inner .item:nth-child(2){position: absolute; top: 0; overflow: hidden;}

.calendar-calendar .month-view .full tr td.single-day.today,
.calendar-calendar .month-view .full tr td.date-box.today{border: none;}

.calendar-calendar .month-view .full tr.single-day.single-day > td:first-child .inner{width: 140px;}
.calendar-calendar .month-view .full tr.single-day.single-day > td .inner{z-index: 2;}
.calendar-calendar .month-view .full td.date-box{padding-bottom: 0;}
.calendar-calendar .month-view .full tr.date-box > td.inner{z-index: 3;}
.calendar-calendar .month-view .full td{position:relative;}
.calendar-calendar .single-day td > .inner,
.calendar-calendar .month-view .full tr.single-day .no-entry .inner{
    width: 141px;
    height: 110px !important;
    position: absolute;
    top: -40px;
    left: inherit;
}
.calendar-calendar .month-view table{margin-bottom: -1px;}
.calendar-calendar tr{
    background-color: transparent !important;
 }

.calendar-calendar .single-day td .inner,
.calendar-calendar .single-day.no-entry.future .inner,
.calendar-calendar .single-day.future.empty .inner{
    background:url(../images/calenderbg.png) 0 0 repeat transparent;
}

.calendar-calendar .single-day.future.game-home .inner,
.calendar-calendar .single-day.today.game-home .inner,
.calendar-calendar .single-day.past.game-home .inner{
    background: url(../images/calenderbluebg.png) 0 0 repeat transparent;
}

.calendar-calendar .single-day.future.game-away .inner,
.calendar-calendar .single-day.today.game-away .inner,
.calendar-calendar .single-day.past.game-away .inner{
    /*background: url(../images/calenderAwayBg.png) 0 0 repeat transparent;*/ background:rgba(0,0,0,0.7);
   }
.calendar-calendar .single-day.future.no-entry .inner, .calendar-calendar .single-day.future.empty .inner{
    background-color: transparent;
}
.date-box.future.game-home, .single-day.future.game-home{
    color: #d1d4d9;
}

.calendar-calendar .month-view .full tr td.multi-day .inner, .calendar-calendar .month-view .full tr td.date-box .inner{
    z-index: 3;
    position: relative;
}
.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview {background: transparent;}


.calendar-legend{
    background: url(../images/calenderbg.png) 0 0 repeat transparent; /*width: 994px;*/ z-index: 10; margin-bottom: 38px;
}

.calendar-legend-left{width: 50%; float: left; height: 42px;}
.calendar-legend-right{width: 50%; float: right;}

.calendar-legend-left > span{margin: 12px 10px;}
.calendar-legend span {
    font-size: 1em;
    color: #565658;
    font-family: 'Arial';
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 2px 15px 0 30px;
    line-height: 18px;
}

.calendar-legend .cal-home-legend {
    background: url(../images/bg-home-legend.png) no-repeat 0 0;
}
.calendar-legend .cal-event-legend {
    background: url(../images/bg-event-legend.png) no-repeat 0 0;
    padding-left: 26px; display:none;
}
.calendar-legend .cal-away-legend {
    background: url(../images/bg-away-legend.png) no-repeat 0 0;
    height: 17px;    padding-left: 28px;}

.calendar-legend-right{margin: 0; padding: 0;}
.calendar-legend-right > li{float: left;}
.calendar-legend-right > li button{width: 100%;}
.calendar-legend-right .first{width: 60%;}
.calendar-legend-right .last{width: 40%;}

.calendar-calendar .single-day.future.game-home .inner, .calendar-calendar .single-day.today.game-home .inner, .calendar-calendar .single-day.past.game-home .inner{/*background:url(../images/calenderHomeBg.png) 0 0 repeat transparent;*/background:#73509e;}

/* Event Gallery CSS Starts Here */

body.node-type-event .carousel-control{background:transparent url('../images/event-carousel.png') 0 0 no-repeat;width:45px;height:70px;top:40%;opacity:1;text-indent:-9999px;display:none;}
body.node-type-event .carousel-control.left{background-position:0 0;}
body.node-type-event .carousel-control.left:hover{background-position:0 -70px;;}
body.node-type-event .carousel-control.right{background-position:-45px 0;}
body.node-type-event .carousel-control.right:hover{background-position:-45px -70px;}
.calendar-calendar .modal-dialog .modal-content, .event-gallary-big-box, #colorbox .modal-dialog .modal-content{height:517px;border-radius:0;border:none;}
.event-gallary-big-box{width:992px;border:1px solid rgba(113,113,116,1.0);position:relative;overflow-y:hidden;}
.calendar-calendar .modal-header,
.event-gallary-big-box .modal-header,
#colorbox .modal-header{background-color:#001836;-moz-box-shadow:inset 0 0 10px #000d1d;-webkit-box-shadow:inset 0 0 10px #000d1d;box-shadow:inset 0 0 10px #000d1d;/*border-bottom:2px solid #949497;*/height:70px;font-size:1.7857em;line-height:1.6em;color:#9e9e9e;}
.event-gallary-big-box .modal-header{/*background: transparent url("../images/eventHeaderBg.png") 0 0 repeat;*/background:rgba(25,25,25,1.0);}
body.node-type-event .container-fluid{background: #000 url("../images/event-bg.jpg") no-repeat top center scroll;}
body.node-type-event .container-fluid section.container{margin-bottom:40px;}
.event-gallary-thumb-slider{margin-top:25px;}
.event-gallary-thumb-slider .view-event-slider .view-header, .event-gallary-big-box .carousel-indicators{display:none;}
.event-gallary-thumb-slider .view-event-slider .view-header .buttons{position:absolute;bottom:0;background: url(../images/event-thumbSlider.png) repeat-x 0 0; width: 28px; height:95px; z-index: 100; top: 0px;    text-indent: -9999px;}
.buttons.next.disable, .buttons.prev.disable{ opacity:.6;}
.event-gallary-thumb-slider .view-event-slider .view-header .buttons.prev{left:0px;}
.event-gallary-thumb-slider .view-event-slider .view-header .buttons.next{    right:0px;    background-position: -28px 0;}
.event-gallary-thumb-slider .view-id-event_slider:hover .view-header{    display: block;}
.event-gallary-thumb-slider .view-event-slider .view-content ul{list-style-type: none; padding: 0; margin-bottom: 0; height: 95px; position: relative;}
.event-gallary-thumb-slider .view-content > div{overflow: hidden; max-width:1024px; height:95px;}
.event-gallary-thumb-slider .view-event-slider .view-content ul .views-row{width: 195px; height: 95px; position: relative; border:1px solid rgba(113,113,116,1.0); margin: 0 2px; list-style-type: none; float: left; overflow: hidden;}
.event-gallary-thumb-slider .view-event-slider .view-content ul .views-row aside div img{    opacity: 0.4;    filter: alpha(opacity=40);max-width:none;}
.event-gallary-thumb-slider .view-event-slider .view-content ul .views-row aside.active div img{    opacity: 1;    filter: alpha(opacity=100); max-width:none;}
.event-gallary-thumb-slider .view-event-slider .view-content ul .views-row .tilehead{position:absolute;bottom:0;left:0; /*background: url(../images/eventBgThumb.png) repeat-x 0 0;*/background: rgb(103,59,184);
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…B5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0NjUpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, rgba(103,59,184,0.9) 0%, rgba(93,53,166,0.9) 40%, rgba(78,44,139,0.9) 50%, rgba(51,29,92,0.9) 75%), rgba(41,24,74,0.9) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(103,59,184,0.9)), color-stop(40%,rgba(93,53,166,0.9)), color-stop(50%,rgba(78,44,139,0.9)), color-stop(75%,rgba(51,29,92,0.9)), color-stop(100%,rgba(41,24,74,0.9)));
background: -webkit-linear-gradient(top, rgba(103,59,184,0.9) 0%, rgba(93,53,166,0.9) 40%, rgba(78,44,139,0.9) 50%, rgba(51,29,92,0.9) 75%), rgba(41,24,74,0.9) 100%);
background: -o-linear-gradient(top, rgba(103,59,184,0.9) 0%, rgba(93,53,166,0.9) 40%, rgba(78,44,139,0.9) 50%, rgba(51,29,92,0.9) 75%), rgba(41,24,74,0.9) 100%);
background: -ms-linear-gradient(top, rgba(103,59,184,0.9) 0%, rgba(93,53,166,0.9) 40%, rgba(78,44,139,0.9) 50%, rgba(51,29,92,0.9) 75%), rgba(41,24,74,0.9) 100%);
background: linear-gradient(to bottom, rgba(103,59,184,0.9) 0%, rgba(93,53,166,0.9) 40%, rgba(78,44,139,0.9) 50%, rgba(51,29,92,0.9) 75%), rgba(41,24,74,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5673BB8', endColorstr='#E529184A',GradientType=0 );width:100%;}
.event-gallary-thumb-slider .view-event-slider .view-content ul .views-row .tilehead a{color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:1em;text-decoration:none;}
.event-gallary-thumb-slider .view-event-slider .view-content ul .views-row .tilehead a > div{text-align:left;padding:3px 15px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.nextgame-timer .countdownHolder > *{float: left; text-shadow: 2px 0px 5px #333333; font-family: 'iona-medium-webfont', Arial, sans-serif; margin-right: 2px;}

body.front .home-nextgamebg .nextgametx.leftside{min-width: 200px; text-align: right;}
body.front .home-nextgamebg .nextgametx.rightside{/*min-width: 200px;*/}
body.front .home-nextgamebg .nextgame-away{font-size: 2.2857em;}
body.front .home-nextgamebg .nextgame-home{font-size: 1.4285em;}
.nextgame-timer{float: right; width: 197px; height: 66px;}
.countdownHolder{letter-spacing: -11px; line-height: 1.2;}
.nextgame-timer .date_label{letter-spacing: 0.1px; display: block; padding-top: 6px; padding-bottom: 1px; font-family:'oswaldregular', Arial, sans-serif;
text-align: left; font-size: 11px;}
body.front .home-nextgamebg .nextgamevs{}
.bottomBar{position: relative;}
.bottomBarInner{display:table; margin:0 auto;}
.view-content .month-view{position: relative;}
.timeHolder{position: absolute; right: 0; top: 0; width: 245px; height: 66px;}
.countDiv{width:7px; height:1.6em; box-shadow: none; background-color: none; font-size: 19px; color: #fff; }
.countDiv:before, .countDiv:after{box-shadow: none; background-color: #fff;}
.countDiv:before{top:1.9em;}
.countDiv:after{top:2.4em;}
.digit, .digit.static{box-shadow: none; background: none; width: auto; font-size: 31px;}
.position{height: 2.4em; width: 1.25em; float: left;}
.countDiv.countDiv3{display: none;}
/* Counter CSS Starts Here */


/* Video Page CSS Starts Here Video Page CSS Starts Here */

.iPad-logo{display: none;}

/* large desktop */
@media only screen and (min-height:1250px) {
    body.front .hero { background-position:50% 25%; }
}

/* iPad portrait */
@media only screen and (min-device-width:481px) and (max-device-width:768px) and (orientation:portrait) {
    body.front .hero{ background-position:49% 51%; }    
    .calendar-calendar td div.day{border-bottom-width: 1px;}   
    .promo-tile .tilehead span{padding-top: 6px;}
}

/* iphone landscape short */
@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:landscape) {
    body.front .hero{ background-position:51% 62%; }
}

/* iphone portrait */
@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:portrait) {
    body.front .hero{ background-position:50% 76%; }
}

/* iPads portrait css starts here */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .modal-content{background-color: black; width: 100%;}
    .modal-body{width: 100%;}
    .modal.fade.in{top: -30px;} 
    
    #webform-client-form-116 .form-actions{margin-top: 30px;}
    .vjs-paused .vjs-big-play-button{display: none !important;}
    
    .calendar-calendar .month-view .full td.single-day div.monthview .sth-other-event{text-align: center;}
}
/* iPads portrait css ends here */

/* iPad landscape css starts here */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape){
    body.front .hero{ background-position:49% 3%; }    
    body.front .container-fluid .heroHolder{height: 525px; max-height:none;} 
    .promo-tile .tilehead span{padding-top: 6px;}     
    .calendar-calendar .single-day td > .inner, .calendar-calendar .month-view .full tr.single-day .no-entry .inner{height: 64px !important;}
    .calendar-calendar .month-view .full td.single-day .inner div > img{height: 64px !important;}
    .calendar-calendar .month-view .full td.single-day .inner div .field-item{height: 64px;}
    .calendar-calendar .month-view .full tr.single-day.single-day > td{height: 25px !important;}  
    
    .calendar-calendar .month-view .full td.single-day .inner div .team-info.event img{width: 18px !important; height: 16px !important; margin-top: 30px;}
    #webform-client-form-116 .form-actions{margin-top: 30px;}  
    .vjs-paused .vjs-big-play-button{display: none !important;} 
    .calendar-calendar .month-view .full td.single-day div.monthview .sth-other-event{text-align: center;}
    .desktop-logo{display: none;}
    .iPad-logo{display: block;}
}
/* iPad landscape css ends here */

/* Bootsrap Override CSS Starts Here */
@media (min-width:10px){
    .navbar-collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }

    .navbar-toggle {
      display: none;
    }

    .navbar-brand {
      margin-left: -15px;
    }
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav>li {
        float: left;
    }
   
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
    .navbar-right {
        float: right!important;
    }
    .home-nextgamebg .container {
        width: 977px;
    }
    
    body.not-front .container-fluid > section.main-wrap {
        max-width: 1024px;
    }
    .container{width: inherit !important;}
    .container-fluid{padding-left: 0; padding-right: 0;}

}
/* Bootsrap Override CSS Ends Here */

.navbar-default .navbar-collapse {
    padding-left:55px;
    width:100%; /*mobile*/
    height: 42px !important;
    border-top:0;
}

/*IE 10 & above CSS Starts Here */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
    body.front .home-nextgamebg .nextgametx{float: left; margin-top:5px;}
    .countDiv:before{top:2.1em;}
    .countDiv:after{top:2.6em;}
    .calendar-calendar .single-day .inner > .item{vertical-align: top; position: relative;}
    .calendar.monthview, .calendar.monthview > .contents{margin: 0 !important; padding: 0 !important; vertical-align: top !important;}
    .calendar-calendar .single-day td > .inner,.calendar-calendar .month-view .full tr.single-day .no-entry .inner{width: 141px; height: 108px !important; position: absolute; top: -38px;    left: 0px; }
    .modal-backdrop{position:absolute; left: -3px; top: -3px;}
    #basicModal{overflow: hidden;}
    body.front .home-nextgamebg .nextgametx.nextgame-home{padding-top: 14px;}
	.home-nextgamebg .nextgametx{padding-top:4px;}
}
/*IE 10 & above CSS Ends Here */


/* PAWP Error CSS Starts Here */
#user-login.pawp-error > h1, #user-login.pawp-error > p,
#user-login.pawp-page-error > h1, #user-login.pawp-page-error > p{color: #cc092f; text-align: center; }
#user-login.pawp-error > h1,
#user-login.pawp-page-error > h1{font-size: 2.4285em; margin-top: 40px;}
#user-login.pawp-error > p, #user-login.pawp-thank > p, #user-login.pawp-page-error > p{font-size: 1.5714em; font-family: 'oswaldregular', Arial, sans-serif !important;}
#user-login.pawp-error #edit-form-description, #user-login.pawp-thank #edit-form-description, #user-login.pawp-page-error #edit-form-description{font-size: 0.65em; font-family: 'Arial',Helvetica; margin-bottom: 0; margin-top: 15px;}
#user-login.pawp-error #edit-actions, #user-login.pawp-thank #edit-actions, #user-login.pawp-page-error #edit-actions{margin-top: 90px;}
#user-login.pawp-error, #user-login.pawp-thank, #user-login.pawp-page-error{padding-bottom: 25px;}
/* PAWP Error CSS Ends Here */


/* PAWP Thanksyou CSS Starts Here */
#user-login.pawp-thank > h1, #user-login.pawp-thank > p{color: #00295b; text-align: center; }
#user-login.pawp-thank > h1{font-size: 3.68em; margin-top: 40px;}
#user-login.pawp-thank > #edit-actions > button.btn-default{
    background: rgba(0, 41, 91, 1);
    background-color: #00479E;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;   
    -webkit-box-shadow: #1C6CCB 1px 1px 1px inset;
    -moz-box-shadow: #1C6CCB 1px 1px 1px inset;
    box-shadow: #1C6CCB 1px 1px 1px inset; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00479E), to(#001938));
    background-image: -webkit-linear-gradient(top, #00479E, #001938);
    background-image: -moz-linear-gradient(top, #00479E, #001938);
    background-image: -ms-linear-gradient(top, #00479E, #001938);
    background-image: -o-linear-gradient(top, #00479E, #001938);
    background-image: linear-gradient(to bottom, #00479E, #001938);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00479E, endColorstr=#001938); 
    border: 1px solid #001938;
}
/* PAWP Thanksyou CSS Ends Here */

#node-116 #webform-ajax-wrapper-116 .messages {display: none;}

.promo-tile .tilehead > div {
    position: absolute;
    right: 0;
    top: 0;
}


#cboxOverlay{
    opacity: 0.7 !important;
    filter: alpha(opacity = 70) !important;
}
.page-pawp-nojs-form .block-custom-social-feed .tilehead a.social.active,
.page-pawp-nojs-form .block-custom-social-feed .tilehead a.social:hover{
    color: #9f9f9f;
    cursor: default;
}

.calendar-calendar .cal-game-result {
width: 100%;
bottom: 0;
position: absolute;
font-size: 1.75em;
padding: 0 3px !important;
color: #D1D4D9;
font-weight: normal;
}
.calendar-calendar .game-away .cal-game-result {
    color: #001836;
}

.page-season-schedule .list-view .view-content .panel-group .panel-heading:hover{/*background:#164174;*/}
.calendar-calendar .game-away .cal-game-result,.calendar-calendar .game-away .day{color:#ffffff;}
.calendar-calendar .month-view .full tr.single-day .game-away .cal-time,.calendar-calendar .month-view .full tr.single-day .game-away .cal-team-name{color:#ffffff;}
.home-nextgamebg .nextgametx{float:left;}
.pouptopwrap .topvscnt{ width:10%; font-size:3.333em; position: absolute; top: 40.5%; left: 443px; z-index: 100;}
