/*   Invoice Take Over Page CSS  */

body.page-goto-renew .container-fluid{background:url('../images/renew-invoice.jpg') no-repeat center top;}
body.page-goto-renew .container-fluid  > section.main-wrap{min-height:700px;text-align:center;}
body.page-goto-renew .container-fluid .page-header{display:none;}
/*body.page-goto-renew .renew-takeover{margin-top:415px;}*/
body.page-goto-renew .renew-takeover{margin-top:286px;}
body.page-goto-renew .renew-takeover p { font-family: "oswaldregular",Arial,sans-serif; font-size: 1.3em; font-weight: lighter; }
body.page-goto-renew .renew-takeover a { font-size: 1.3em; font-weight: lighter;  }
body.page-goto-renew .container-fluid header .row-header{display:none;}
body.page-goto-renew section.promo-tile, body.page-goto-renew .footer-copyright{opacity:0.3;}
body.page-goto-renew .promo-tile .promo-box a.promo-link:hover .second{display:none;}
body.page-goto-renew .promo-tile .promo-box a{cursor:default;}
body.page-goto-renew .container-fluid .social-icons a.social{cursor:default;}
body.page-goto-renew .footer-copyright .copyright a{cursor:text;}
body.page-goto-renew .footer-copyright .copyright a:hover{text-decoration:none;}
.promo-tile .tilehead a.social:hover,.promo-tile .tilehead a.social.active{color:#9f9f9f;}
body.page-goto-renew .container a.cnt-btm{font-family:"oswaldregular",Arial,sans-serif;font-size:1.1em;padding:10px 55px; margin:0 5px; font-weight: lighter;}
body.page-goto-renew .renew-takeover p:last-child{font-family:"oswaldregular",Arial,sans-serif;padding-top:70px;font-size:1.25em;}

.container #renew a.cnt-btm {
background: rgb(68,68,68); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(68,68,68,1) 0%, rgba(54,54,54,1) 26%, rgba(30,30,30,1) 53%, rgba(8,8,6,1) 85%, rgba(1,1,1,1) 98%, rgba(7,7,9,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,68,68,1)), color-stop(26%,rgba(54,54,54,1)), color-stop(53%,rgba(30,30,30,1)), color-stop(85%,rgba(8,8,6,1)), color-stop(98%,rgba(1,1,1,1)), color-stop(100%,rgba(7,7,9,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(54,54,54,1) 26%,rgba(30,30,30,1) 53%,rgba(8,8,6,1) 85%,rgba(1,1,1,1) 98%,rgba(7,7,9,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(54,54,54,1) 26%,rgba(30,30,30,1) 53%,rgba(8,8,6,1) 85%,rgba(1,1,1,1) 98%,rgba(7,7,9,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(54,54,54,1) 26%,rgba(30,30,30,1) 53%,rgba(8,8,6,1) 85%,rgba(1,1,1,1) 98%,rgba(7,7,9,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(68,68,68,1) 0%,rgba(54,54,54,1) 26%,rgba(30,30,30,1) 53%,rgba(8,8,6,1) 85%,rgba(1,1,1,1) 98%,rgba(7,7,9,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#070709',GradientType=0 ); /* IE6-9 */
}
.container #renew a.cnt-btm { border: 1px solid #000;}

.container #renew a.cnt-btm:hover {background:#000;}
.container #renew a.cnt-btm:last-child{margin-left:3px;}
.container #renew .videotakeover{text-align:center;height:264px;margin-bottom:3px;}
.container #renew .videotakeover .video-js{border:1px solid rgba(242,241,241,0.5);background:rgba(242,241,241,0.5);}
.container #renew .video-js{display:inline-block;width:437px!important;box-shadow:0px 5px 12px rgba(31, 31, 31, 0.95);-o-box-shadow:0px 5px 12px rgba(31, 31, 31, 0.95);-webkit-box-shadow:0px 5px 12px rgba(31, 31, 31, 0.95);-moz-box-shadow:0px 5px 12px rgba(31, 31, 31, 0.95);}
.container #renew .vjs-fullscreen{width:100%!important;}
.container #renew .videotakeover .vjs-default-skin .vjs-big-play-button{border:0;background-color:transparent;box-shadow:none;width:100px;height:100px; background-position:center center;left:50%;top:50%; margin:-50px 0px 0px -50px;}
.container #renew .videotakeover .vjs-default-skin .vjs-big-play-button:before{content:"";}
.container #renew .videotakeover .vjs-playing:hover .vjs-big-play-button,.container #renew .videotakeover .vjs-seeking:hover .vjs-big-play-button{display:none!important;}
