.page-invoice-payment .form-item-payment-plan-id label.control-label { margin-bottom:22px; font-weight: normal; font-size:22px; font-family:'oswaldregular', Arial, sans-serif;}
.page-invoice-payment .form-item-payment-plan-id .DivSelectyze { float:left; position: relative; margin-bottom:8px; }
.page-invoice-payment .name-panel .form-item-payment-plan-id ol li, .name-panel .item-list ol li { line-height: 25px; padding-left:0; }
.name-panel .payplan { clear:both; float:left; padding-left:0 !important; padding-bottom:0 !important;}
.payment-amount-box .amount-due .make-payment-wrapper label { font-weight:normal;}

.infoPanelwrap .dedicateserrep { background-color:#8c0303;  border:1px solid #8c0303;}

.page-invoice .page-header { color: #393f96 !important; }
.infoPanelwrap h2 .blueTxt { color: #393f96 !important; }
.season-invoice-detail h3 { color: #381951  !important; }
.season-invoice-detail .ticketTable thead th { color: #381951  !important; }
.infoPanelwrap .dedicateserrep {
    background: none repeat scroll 0 0 #393f96;
    border: 1px solid #000000;
    color: #fff;
}
.infoPanelwrap h2 .blueTxt { color: #381951 !important; }
.payment-thankyou-wrapper h1, .payment-unsuccessful h1 { font-size:53px !important; }
.payment-thankyou-wrapper h2, .payment-unsuccessful h2 { font-size:28px !important; }
.payment-thankyou-wrapper h1, .payment-thankyou-wrapper h2 { color:#393f96; }

.page-invoice-payment-failure .btn-default, .btn-light {
    color: #fff;
    font-family: "oswaldregular",Arial,sans-serif;
    padding: 2px 6px 0 12px !important;
    text-transform: uppercase;
	text-decoration:none;
}
.payment-thankyou-wrapper .btn-default, .btn-light {
    color: #fff;
    font-family: "oswaldregular",Arial,sans-serif;
    padding: 2px 6px 0 12px !important;
    text-transform: uppercase;
	text-decoration:none;
}
.page-invoice-payment-failure .btn i.fa-chevron-right, .payment-thankyou-wrapper .btn i.fa-chevron-right {  padding-top: 4px; }
.name-panel .form-item-payment-plan-id ol li span.duedate, .name-panel .item-list ol li span.duedate { width: 160px; display:inline-block; }
.page-invoice-payment .col-sm-4 { width:34.333%;} 
#plansloading{display:block!important;position:absolute;left:100%;top:50%;}
.season-invoice-detail .pull-right a.pricing-map{color:#381951;font-weight:bold;line-height:35px;text-decoration:underline;text-shadow:1px 3px 12px rgba(0,0,0,0.25);-o-text-shadow:1px 3px 12px rgba(0,0,0,0.25);-webkit-text-shadow:1px 3px 12px rgba(0,0,0,0.25);-moz-text-shadow:1px 3px 12px rgba(0,0,0,0.25);padding:0px!important; margin-right:8px;}
.season-invoice-detail .pull-right a.pricing-map:hover{color:#381951;text-decoration:none;}
.css3 .UlSelectize li a:hover{background:rgb(80,87,197);}
.page-invoice .btn-light, .page-invoice .make-payment-wrapper button.form-submit{border:1px solid #262523;-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.8) inset;-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.8) inset;box-shadow:0px 1px 0px rgba(255,255,255,0.8) inset;
background:rgb(80,87,197); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc4MDUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzUwNTdDNSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzBBMTA2QyIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzgwNSkiIC8+Cjwvc3ZnPg==);
background: #5057c5;
background:-moz-linear-gradient(top, rgba(80,87,197,1.0) 0%, rgba(10,16,108,1.0) 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,87,197,1.0)), color-stop(100%,rgba(10,16,108,1.0)));
background:-webkit-linear-gradient(top, rgba(80,87,197,1.0) 0%, rgba(10,16,108,1.0) 100%);
background:-o-linear-gradient(top, rgba(80,87,197,1.0) 0%, rgba(10,16,108,1.0) 100%);
background:-ms-linear-gradient(top, rgba(80,87,197,1.0) 0%, rgba(10,16,108,1.0) 100%);
background:linear-gradient(to bottom, rgba(80,87,197,1.0) 0%, rgba(10,16,108,1.0) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#5057c5', endColorstr='#0a106c',GradientType=0 );
}
.page-invoice .btn-light:hover, .page-invoice .make-payment-wrapper button.form-submit:hover{
	background:rgba(43,49,135,1);
}

/*  Invoice Page */
body.page-invoice .container-fluid #block-custom-block-user-info{color:#000000;}
body.page-invoice .container-fluid .infoPanelwrap .contDetail{color:#000000;font-size:17px;line-height:27px;}
.amountduewrap .amountdueinfo{border-bottom:1px solid #b1b1b1;font-size:16px;}
.make-payment-wrapper button.form-submit, .amountduettl .pull-right a, .season-invoice-detail .pull-right a{position:relative;outline:none;padding:0 35px 0px 25px!important;text-decoration:none;}
.make-payment-wrapper button.form-submit i, .amountduettl .pull-right a i, .season-invoice-detail .pull-right a i{position:absolute;right:5px;top:5px;}

.payment-user-form-wrapper .form-control, .payment-amount-box .form-control{border:1px solid #717174;}
.payment-user-form-wrapper .has-error .form-control, .payment-amount-box .has-error .form-control, .payment-user-form-wrapper .has-error .css3 .selectyzeValue, .payment-user-form-wrapper .has-error .css3 .selectyzeValue{border:1px solid #cc092f !important;}
.payment-user-form-wrapper .form-group .DivSelectyze .selectyzeValue, .payment-user-form-wrapper .conf-email .selectyzeValue{background:#d9d9d9 url("../images/invoice-dropdown.png") no-repeat 0 0 scroll; border:1px solid #717174;}
.payment-user-form-wrapper .form-group .DivSelectyze .UlSelectize, .payment-user-form-wrapper .conf-email .UlSelectize{border:1px solid #717174;}
.page-invoice-payment .main-wrap #block-system-main div.error ul{list-style-image:url(../images/str-error.png);padding-left:15px;}
.page-invoice-payment .main-wrap #block-system-main div.error.inline-messages{background:url(../images/str-error.png) left center no-repeat;padding-left:15px;}
.page-invoice-payment .main-wrap #block-system-main div.error{color:#cc092f;}
.season-invoice-detail h3{/*color:#393f96;*/color:#381951;letter-spacing:1px;}
